@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 100px 20px;
}

.intro-hero {
  position: relative;
  height: 950px;
  overflow: hidden;
  background-image: url(/assets/images/cloud-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #DDEEF5;
  margin: 0 auto;
}
.intro-hero .intro-bg .cloud {
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  z-index: 10;
}
.intro-hero .intro-bg .cloud.cloud-left {
  left: 0;
  transform: translateX(0);
}
.intro-hero .intro-bg .cloud.cloud-right {
  right: 0;
  transform: translateX(0);
}
.intro-hero .intro-bg .cloud img {
  width: 100%;
}
.intro-hero .intro-bg .intro-balloon-blue {
  position: absolute;
  top: 150px;
  left: 390px;
}
.intro-hero .intro-bg .intro-balloon-green {
  position: absolute;
  top: 400px;
  right: 390px;
}
.intro-hero .logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1023px) {
  .intro-hero .intro-bg .intro-balloon-blue {
    top: 150px;
    left: 70px;
  }
  .intro-hero .intro-bg .intro-balloon-blue img {
    width: 180px;
  }
  .intro-hero .intro-bg .intro-balloon-green {
    top: 400px;
    right: 70px;
  }
  .intro-hero .intro-bg .intro-balloon-green img {
    width: 180px;
  }
  .intro-hero .logo-container img {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .intro-hero {
    height: 700px;
  }
  .intro-hero .intro-bg .intro-balloon-blue {
    left: 40px;
  }
  .intro-hero .intro-bg .intro-balloon-blue img {
    width: 150px;
  }
  .intro-hero .intro-bg .intro-balloon-green {
    right: 40px;
  }
  .intro-hero .intro-bg .intro-balloon-green img {
    width: 150px;
  }
  .intro-hero .logo-container img {
    width: 580px;
  }
}
@media (max-width: 500px) {
  .intro-hero {
    height: 500px;
  }
  .intro-hero .intro-bg .cloud {
    width: 200%;
  }
  .intro-hero .intro-bg .intro-balloon-blue {
    top: 50px;
  }
  .intro-hero .intro-bg .intro-balloon-blue img {
    width: 100px;
  }
  .intro-hero .intro-bg .intro-balloon-green {
    top: 250px;
  }
  .intro-hero .intro-bg .intro-balloon-green img {
    width: 100px;
  }
  .intro-hero .logo-container img {
    width: 350px;
  }
}
@media (max-width: 390px) {
  .intro-hero .intro-bg .cloud {
    width: 300%;
  }
  .intro-hero .intro-bg .intro-balloon-blue {
    top: 150px;
    left: 30px;
  }
  .intro-hero .intro-bg .intro-balloon-blue img {
    width: 80px;
  }
  .intro-hero .intro-bg .intro-balloon-green {
    top: 230px;
    right: 30px;
  }
  .intro-hero .intro-bg .intro-balloon-green img {
    width: 80px;
  }
  .intro-hero .logo-container img {
    width: 250px;
  }
}