* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Pretendard';
    color: $color-text;
    background-color: $color-bg;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: inherit;
}

dl,
ul,
li {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}