//프리텐다드
@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Thin.woff) format('woff');
    src: url(/assets/font/Pretendard-Thin.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Thin.subset.eot) format('eot');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-ExtraLight.woff2) format('woff');
    src: url(/assets/font/Pretendard-ExtraLight.woff2) format('woff2');
    src: url(/assets/font/Pretendard-ExtraLight.subset.eot) format('eot');
    font-weight: 200;
    font-display: swap; 
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Light.woff2) format('woff');
    src: url(/assets/font/Pretendard-Light.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Light.subset.eot) format('eot');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Regular.woff2) format('woff');
    src: url(/assets/font/Pretendard-Regular.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Regular.subset.eot) format('eot');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Medium.woff2) format('woff');
    src: url(/assets/font/Pretendard-Medium.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Medium.subset.eot) format('eot');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-SemiBold.woff2) format('woff');
    src: url(/assets/font/Pretendard-SemiBold.woff2) format('woff2');
    src: url(/assets/font/Pretendard-SemiBold.subset.eot) format('eot');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Bold.woff2) format('woff');
    src: url(/assets/font/Pretendard-Bold.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Bold.subset.eot) format('eot');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-ExtraBold.woff2) format('woff');
    src: url(/assets/font/Pretendard-ExtraBold.woff2) format('woff2');
    src: url(/assets/font/Pretendard-ExtraBold.subset.eot) format('eot');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/assets/font/Pretendard-Black.woff2) format('woff');
    src: url(/assets/font/Pretendard-Black.woff2) format('woff2');
    src: url(/assets/font/Pretendard-Black.subset.eot) format('eot');
    font-weight: 900;
    font-display: swap;
}


//페이퍼로지
@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-1Thin.woff) format('woff');
    src: url(/assets/font/Paperlogy-1Thin.eot) format('eot');
    src: url(/assets/font/Paperlogy-1Thin.woff2) format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-2ExtraLight.woff) format('woff');
    src: url(/assets/font/Paperlogy-2ExtraLight.eot) format('eot');
    src: url(/assets/font/Paperlogy-2ExtraLight.woff2) format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-3Light.woff) format('woff');
    src: url(/assets/font/Paperlogy-3Light.eot) format('eot');
    src: url(/assets/font/Paperlogy-3Light.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/Paperlogy-4Regular.woff) format('woff');
    src: url(/assets/font/Paperlogy-4Regular.eot) format('eot');
    src: url(/assets/font/Paperlogy-4Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-5Medium.woff) format('woff');
    src: url(/assets/font/Paperlogy-5Medium.eot) format('eot');
    src: url(/assets/font/Paperlogy-5Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-6SemiBold.woff) format('woff');
    src: url(/assets/font/Paperlogy-6SemiBold.eot) format('eot');
    src: url(/assets/font/Paperlogy-6SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-7Bold.woff) format('woff');
    src: url(/assets/font/Paperlogy-7Bold.eot) format('eot');
    src: url(/assets/font/Paperlogy-7Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-8ExtraBold.woff) format('woff');
    src: url(/assets/font/Paperlogy-8ExtraBold.eot) format('eot');
    src: url(/assets/font/Paperlogy-8ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url(/assets/font/AnyConv.com__Paperlogy-9Black.woff) format('woff');
    src: url(/assets/font/Paperlogy-9Black.eot) format('eot');
    src: url(/assets/font/Paperlogy-9Black.woff2) format('woff2');
    font-weight: 900;
    font-display: swap;
}

$font-primary: 'Pretendard';
$font-accent: 'Paperozi';

// 타이포그래피 간격 변수
$spacing-title-subtitle: rem(5);
