
//colors
$color-primary: #3475A8;   
$color-green: #BDCD96; 
$color-yello: #FFF2BE;
$color-pink: #E4A9A9;
$color-orange: #FEC66B;
$color-skyblue: #DDEEF5; 

$color-text: #333333;      
$color-bg: #ffffff;

$gray-100: #DEDEDE;
$gray-200: #cccccc;
$gray-300: #999999;
$gray-400: #666666;



//brackpoint
$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile-md: 500px;
$bp-mobile-sm: 390px;


//intro imge size
$balloon-lg: 180px;
$balloon-md: 150px;
$balloon-sm: 100px;
$balloon-xs: 80px;

$logo-lg: 700px;
$logo-md: 580px;
$logo-sm: 350px;
$logo-xs: 250px;

