.intro-video-wrap {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .intro-video-wrap video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}