.intro-video-wrap {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;

    .intro-video-wrap video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}