.section {
    padding-top: rem(100);
    padding-bottom: rem(50);
}
.container {
    width: 100%;
    height: 100%;
    max-width: rem(1440);
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
}
