//main
.hero {
    width: 100%;
    height: rem(800);

    .hero__swiper {
        width: 100%;
        height: 100%;

        .hero__swiper01 {
            width: 100%;
            height: 100%;
            @include bg-cover ("/assets/images/hero-bg.jpg");
        }
        .hero__swiper02 {
            width: 100%;
            height: 100%;
            @include bg-cover ("/assets/images/hero-bg02.jpg");
            .hero-img img {
                width: rem(992);
            }
        }
        .hero__swiper03 {
            width: 100%;
            height: 100%;
            @include bg-cover ("/assets/images/hero-bg03.jpg");
            .hero-img img {
                width: rem(992);
            }
        }
        .hero__swiper04 {
            width: 100%;
            height: 100%;
            @include bg-cover ("/assets/images/hero-bg04.jpg");
            .hero-img img {
                width: rem(681);
            }
        }
        .hero__content {
                height: 100%;
                position: relative;
                @include flex($justify: space-between);

                .hero__text {
                    padding-top: rem(300);
                    .hero__subtitle {
                        color: $gray-400;
                    }

                    .hero__title {
                        @include font-set ($size: 42, $weight: 700, $line-height: 1.2, $family: $font-accent)
                    }
                }
                .hero__img {
                    display: block;
                    width: rem(700);
                }
        }       
        .hero__pagination {
            @include flex($gap: rem(30));
            max-width: rem(1440);
            margin-left: auto;
            margin-right: auto;
            padding: 0 rem(20);
        }
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            position: relative;
            bottom: rem(150)
        }

        .swiper-pagination-bullet-active {
            border: rem(2) solid $gray-300;
            background-color: #99999967;
        }

        .swiper-pagination-bullet {
            width: rem(20);
            height: rem(20);
            margin: 0;
        }
    }

    @media (max-width: $bp-desktop) {
            height: rem(950);
            margin-top: rem(70);
            .hero__swiper {
                .hero__content {
                        @include flex ($justify: center, $direction:column, $gap: rem(30));
                        .hero__text {
                            padding: 0;
                            top: rem(150);
                            left: rem(292);
                            br {
                                display: none;
                            }
                            @include flex ($direction: column, $wrap: nowrap, $gap: 10px);
                            text-align: center;
                            .hero-title {
                                @include font-set ($size: 36, $weight: 700, $line-height: 1.2, $family: $font-accent)
                            }
                        }
                        .hero__img {
                            text-align: center;
                            img{
                                width: rem(527);
                                
                            }
                        }
                    }
                .hero__pagination {
                    @include flex($justify: center, $gap: rem(25));
                }
                .swiper-pagination-bullet {
                    width: rem(15);
                    height: rem(15);
                }            
        }
    }
    @media (max-width: $bp-tablet) {
        margin-top: rem(60);
        .hero__swiper {
            .hero__content {
                .hero__text {
                    .hero__title {
                        @include font-set ($size: 32, $weight: 700, $line-height: 1.2, $family: $font-accent)
                    }
                }
            }
        }
    }
    @media (max-width: $bp-mobile-md) {
        height: rem(756);
        margin-top: rem(55);
            .hero__swiper {
                .hero__content {
                    @include flex ($justify: center, $direction:column, $gap: rem(100));
                    .hero__text {
                        .hero__title {
                            @include font-set ($size: 20, $weight: 700, $line-height: 1.2, $family: $font-accent)
                        }
                    }
                    .hero__img {
                        img{
                            width: rem(332);
                        }
                    }
                }
                .hero__pagination {
                    @include flex($justify: center, $gap: rem(25));
                }
                .swiper-pagination-bullet {
                    width: rem(10);
                    height: rem(10);
                }
            
            }
    }
    @media (max-width: $bp-mobile-sm) {
       .hero__swiper {
           .hero__content {
               .hero__img {
                   img{
                       width: rem(280);
                   }
               }
           }                          
        }            
    }

}
//point
.point {
    &__title {
        @include title-style(40);
        margin-bottom: rem(5);
    }
    
    &__subtitle {
        @include subtitle-style(20);
        margin-bottom: rem(40);
    }

    &__card__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        grid-template-areas:
            "img1 img3"
            "img2 img3";
    }

    &__card {
        @include radius(rem(20));
        @include flex($justify: space-between, $align: center);
        &__text {
            color: $color-bg;
            padding-left: rem(60);
            h2 {
                @include font-set($size: 32, $weight: 700, $line-height: 1.2); 
                margin-bottom: rem(10);
            }
            p {
                @include font-set($size: 20);
            }
            span {
                display: block;
                @include font-set($size: 16, $weight: 300, $line-height: 1.1);
                margin-bottom: rem(30);
            }
            a {
                display: block;
                width: rem(100);
                border: 1px solid $color-bg;
                padding: rem(13) rem(25);
                @include radius(rem(40));
                @include font-set($size: 16, $weight: 900, $family: $font-accent);
            }
        }
        &__img {
            margin-bottom: rem(-3);
            img {
                @include radius(rem(20));
            }
        }
    }
    &__trend__card {
        grid-area: img1;
        background-color: $color-pink;
    }           
    &__accessibility__card {
        height: rem(292);
        grid-area: img2;
        background-color: $color-orange;
        a {
            width: rem(150);
        }
    }
    &__accessibility__img {
        margin-top: rem(60);
        margin-bottom: rem(-5);
    }
    &__taste__card {
        grid-area: img3;
        background-color: $color-green;
        @include flex($justify: space-between, $align: flex-start, $direction: column);
        &__text {
            padding-left: rem(60);
            padding-top: rem(60);
        }
    }
    &__taste__img {
        margin-bottom: rem(-5);
    }

    @media (max-width: $bp-desktop) {
        &__title {
            @include title-style(32);
        }
        &__subtitle {
            @include subtitle-style(18);
        }
        &__card {
            overflow: hidden;
            &__text {
                padding-left: rem(30);
                h2 {
                    @include font-set($size: 24, $weight: 700, $line-height: 1.2); 
                    margin-bottom: rem(19);
                }
                span {
                    margin-bottom: rem(78);
                }                
            }
            &__img {
                margin-right: rem(-50);
                img {
                    margin-top: rem(13);
                    width: rem(200);
                    height: rem(200);
                }
            }
        }          
        &__accessibility__img {
            img{
                width: rem(310);
                height: rem(210);
            }
        }
        &__taste__img {
            margin-right: 0;
            img{
                width: rem(484);
                height: rem(210);
            }
        }
    }
    @media (max-width: $bp-tablet) {
        &__title {
            @include title-style(28);
        }
        &__card__wrap {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "img2"
                "img1"
                "img3";
        }
        &__card {
            height: rem(226);
            &__text {
                h2 {
                    @include font-set($size: 20, $weight: 700, $line-height: 1.2); 
                    margin-bottom: rem(20);
                }
                p {
                    @include font-set($size: 16);
                }
                span {
                    @include font-set($size: 14, $weight: 300, $line-height: 1.1);
                    margin-top: rem(5);
                    margin-bottom: rem(20);
                }                
            }
            &__img {
                margin-right: rem(30);
                margin-bottom: rem(-30);
                img {
                    margin-top: 0;
                    width: rem(180);
                    height: rem(200);
                }
            }
        }
        &__accessibility__card {
            @include flex($justify: space-between, $align: flex-end, $direction: row-reverse);
            text-align: end;
            &__text {
                @include flex(
                $justify: flex-end, $align: flex-end, $direction: column
                );
                padding: 0 rem(30) rem(30) 0;
            }
        }
        &__accessibility__img {
            img{
                width: rem(310);
                height: rem(210);
            }
        }
        &__taste__card {
            @include flex($justify: space-between, $align: flex-end, $direction: row-reverse);
            text-align: end;
            &__text {
                @include flex(
                $justify: flex-end, $align: flex-end, $direction: column
                );
                padding: 0 rem(30) rem(30) 0;
            }
        }
        &__taste__img {
            margin-right: 0;
            img{
                width: rem(400);
                height: rem(150);
            }
        }
    }
    @media (max-width: $bp-mobile-md) {
        &__title {
            @include title-style(24);
        }
        &__subtitle {
            @include subtitle-style(16);
        }
        &__card {
            height: rem(176);
            &__text {
                h2 {
                    @include font-set($size: 16, $weight: 700, $line-height: 1.2); 
                    margin-bottom: rem(10);
                }
                p {
                    @include font-set($size: 14);
                }
                span {
                    @include font-set($size: 12, $weight: 300, $line-height: 1.1);
                    margin-bottom: rem(22);
                }  
                a {
                    width: rem(74);                   
                    padding: rem(9) rem(15);                   
                    @include font-set($size: 14, $weight: 900, $family: $font-accent);
                }              
            }
            &__img {
                margin-right: rem(30);
                margin-bottom: rem(-30);
                img {
                    margin-top: 0;
                    width: rem(112);
                    height: rem(135);
                }
            }
        }
        &__accessibility__card {
            &__text {
                padding: 0 rem(12) rem(20) 0;
                a {
                    width: rem(125);                   
                }    
            }
        }
        &__accessibility__img {
            img{
                width: rem(230);
                height: rem(180);
            }
        }
        &__taste__card {
            &__text {
                padding: 0 rem(12) rem(20) 0;
            }
        }
        &__taste__img {
            margin-right: 0;
            img{
                width: rem(200);
                height: rem(100);
            }
        }
    }
    @media (max-width: $bp-mobile-sm) {
        &__card__wrap {
            gap: rem(12);
        }
        &__card {
            &__text {
                padding: rem(12);
            }
            span {
                display: none;
            } 
            p {
                margin-bottom: rem(20);
            }   
            &__img {
                margin-right: rem(10);
                margin-bottom: rem(-80);
                img {
                    width: rem(80);
                    height: rem(100);
                }
            }
        }    
        &__accessibility__card {
            &__text {
                padding: 0 rem(12) rem(20) 0;   
            }
        }
        &__accessibility__img {
            margin-bottom: rem(-10);
            img{
                width: rem(150);
                height: rem(100);
            }
        }
        &__taste__card {
            &__text {
                padding: 0 rem(12) rem(20) 0;
            }
        }
        &__taste__img {
            margin-bottom: rem(-10);
            img{
                width: rem(180);
                height: rem(80);
            }
        }
    }
}

//growth
    .growth__swiper {
        overflow-x: hidden;
        &__wrapper {
            
        }
    }

    .growth__slide {
        width: rem(456);
        height: rem(670);
        @include flex($justify: center, $align: center, $direction: column, $wrap: nowrap);
        position: relative;

        .growth__card__img {
            position: relative;
        }
    }
    .growth__card {
        margin-top: rem(-100);
        background-color: $color-skyblue;
        width: rem(456);
        height: rem(563);
        @include radius($radius: rem(20));
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap);
        &__text {
            h3 {
                margin-bottom: rem(30);
                @include font-set($size: 32, $weight: 600, $line-height: 1.4, $family: $font-primary);
            }
            li {
                list-style: disc;
                @include font-set($size: 20, $weight: 400, $line-height: 1.4, $family: $font-primary);
                span {
                    font-weight: 600;
                }
            }
        }
    }


// about
.intro-hero {
    position: relative;
    height: rem(950);
    overflow: hidden;
    @include bg-cover("/assets/images/cloud-bg.png");
    background-color: $color-skyblue;
    margin: 0 auto;


    .intro-bg {
        .cloud {
            position: absolute;
            bottom: 0;
            opacity: 0.6;
            z-index: 10;

            &.cloud-left {
                left: 0;
                transform: translateX(0);
            }

            &.cloud-right {
                right: 0;
                transform: translateX(0);
            }

            img {
                width: 100%;
            }
        }

        .intro-balloon-blue {
            position: absolute;
            top: rem(150);
            left: rem(390);
        }

        .intro-balloon-green {
            position: absolute;
            top: rem(400);
            right: rem(390);
        }
    }

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: $bp-desktop) {
        .intro-bg {
            .intro-balloon-blue {
                top: responsive-pos(150, desktop);
                left: responsive-pos(70, desktop);

                img {
                    width: $balloon-lg;
                }
            }

            .intro-balloon-green {
                top: responsive-pos(400, desktop);
                right: responsive-pos(70, desktop);

                img {
                    width: $balloon-lg;
                }
            }
        }

        .logo-container {
            img {
                width: $logo-lg;
            }
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(700);

        .intro-bg {
            .intro-balloon-blue {
                left: responsive-pos(50, tablet);

                img {
                    width: $balloon-md;
                }
            }

            .intro-balloon-green {
                right: responsive-pos(50, tablet);

                img {
                    width: $balloon-md;
                }
            }
        }

        .logo-container {
            img {
                width: $logo-md;
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        height: rem(500);

        .intro-bg {
            .cloud {
                width: 200%;
            }

            .intro-balloon-blue {
                top: responsive-pos(50, mobile-md);

                img {
                    width: $balloon-sm;
                }
            }

            .intro-balloon-green {
                top: responsive-pos(250, mobile-md);

                img {
                    width: $balloon-sm;
                }
            }
        }

        .logo-container {
            img {
                width: $logo-sm;
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        .intro-bg {
            .cloud {
                width: 300%;
            }

            .intro-balloon-blue {
                top: responsive-pos(150, mobile-sm);
                left: responsive-pos(30, mobile-sm);

                img {
                    width: $balloon-xs;
                }
            }

            .intro-balloon-green {
                top: responsive-pos(230, mobile-sm);
                right: responsive-pos(30, mobile-sm);

                img {
                    width: $balloon-xs;
                }
            }
        }

        .logo-container {
            img {
                width: $logo-xs;
            }
        }
    }

}