// bg
@mixin bg-cover($img, $position: center, $size: cover, $repeat: no-repeat) {
    background-image: url(#{$img});
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}


// 반응형 위치 함수
@function responsive-pos($value, $screen) {
  @if $screen == desktop {
    @return $value * 1px;
  } @else if $screen == tablet {
    @return $value * 0.8px;
  } @else if $screen == mobile {
    @return $value * 0.6px;
  } @else {
    @return $value * 1px; 
  }
}