
@mixin bg-cover($img, $position: center, $size: cover, $repeat: no-repeat) {
    background-image: url(#{$img});
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}