
//colors
$color-primary: #3475A8;   
$color-green: #BDCD96; 
$color-yello: #FFF2BE;
$color-pink: #E4A9A9;
$color-orange: #FEC66B;
$color-bg: #DDEEF5; 

$color-text: #333333;      
$color-text: #ffffff;

$gray-100: #DEDEDE;
$gray-200: #cccccc;
$gray-300: #999999;
$gray-300: #666666;



//brackpoint
$bp-desktop: 1023px;
$bp-tablet: 768px;
$bp-mobile-md: 500px;
$bp-mobile-sm: 390px;