// about
.about {
    position: relative;
    height: rem(950);
    overflow: hidden;
    @include bg-cover("/assets/images/cloud-bg.png");
    background-color: $color-skyblue;
    margin: 0 auto;


    &__bg {
        .cloud {
            position: absolute;
            bottom: 0;
            z-index: 2;

            &__left {
                z-index: 5;
                left: 0;
                transform: translateX(0);
                opacity: 0.8;

            }

            &__left__sub {
                left: 0;
                transform: translateX(0);
            }

            &__right {
                z-index: 5;
                right: 0;
                transform: translateX(0);
                opacity: 0.8;
            }

            &__right__sub {
                right: 0;
                transform: translateX(0);
            }

            img {
                width: 100%;
            }
        }

        &__balloon__blue {
            position: absolute;
            top: rem(150);
            left: rem(390);
        }

        &__balloon__green {
            position: absolute;
            top: rem(400);
            right: rem(390);
        }

        &__balloon__yellow {
            position: absolute;
            top: rem(180);
            right: rem(700);

            img {
                width: rem(220);
            }
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    @media (max-width: $bp-desktop) {
        &__bg {
            &__balloon__blue {
                top: responsive-pos(150, desktop);
                left: responsive-pos(70, desktop);

                img {
                    width: $balloon-lg;
                }
            }

            &__balloon__green {
                top: responsive-pos(400, desktop);
                right: responsive-pos(70, desktop);

                img {
                    width: $balloon-lg;
                }
            }
        }

        &__logo {
            img {
                width: $logo-lg;
            }
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(700);

        &__bg {
            &__balloon__blue {
                left: responsive-pos(50, tablet);

                img {
                    width: $balloon-md;
                }
            }

            &__balloon__green {
                right: responsive-pos(50, tablet);

                img {
                    width: $balloon-md;
                }
            }
        }

        &__logo {
            img {
                width: $logo-md;
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        height: rem(500);

        &__bg {
            .cloud {
                width: 200%;
            }

            &__balloon__blue {
                top: responsive-pos(50, mobile-md);

                img {
                    width: $balloon-sm;
                }
            }

            &__balloon__green {
                top: responsive-pos(250, mobile-md);

                img {
                    width: $balloon-sm;
                }
            }
        }

        &__logo {
            img {
                width: $logo-sm;
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__bg {
            .cloud {
                width: 300%;
            }

            &__balloon__blue {
                top: responsive-pos(150, mobile-sm);
                left: responsive-pos(30, mobile-sm);

                img {
                    width: $balloon-xs;
                }
            }

            &__balloon__green {
                top: responsive-pos(230, mobile-sm);
                right: responsive-pos(30, mobile-sm);

                img {
                    width: $balloon-xs;
                }
            }
        }

        &__logo {
            img {
                width: $logo-xs;
            }
        }
    }

}