// about
.about {
    position: relative;
    height: rem(950);
    overflow: hidden;
    @include bg-cover("/assets/images/cloud-bg.png");
    background-color: $color-skyblue;
    @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(150));
    text-align: center;


    &__bg {
        position: absolute;
        bottom: 0;
        &__cloud {
            position: absolute;
            bottom: 0;
        }

        &__balloon {

        }
    }

    &__logo {
        img {
            width: rem(740);
        }
    }
    &__text {
        h2 {
           @include font-set($size: 32, $weight: 500) 
        }
        p {
           @include font-set($size: 24, $weight: 400) 
        }
        span {
           @include font-set($size: 20, $weight: 900, $family: $font-accent);
           color: $color-primary;
        }
    }

    @media (max-width: $bp-desktop) {
        &__bg {
            &__balloon__blue {
               

                img {
                    width: $balloon-lg;
                }
            }

            &__balloon__green {
               

                img {
                    width: $balloon-lg;
                }
            }
        }

        &__logo {
            img {
                width: $logo-lg;
            }
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(700);

        &__bg {
            &__balloon__blue {

                img {
                    width: $balloon-md;
                }
            }

            &__balloon__green {

                img {
                    width: $balloon-md;
                }
            }
        }

        &__logo {
            img {
                width: $logo-md;
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        height: rem(500);

        &__bg {
            .cloud {
                width: 200%;
            }

            &__balloon__blue {

                img {
                    width: $balloon-sm;
                }
            }

            &__balloon__green {

                img {
                    width: $balloon-sm;
                }
            }
        }

        &__logo {
            img {
                width: $logo-sm;
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__bg {
            .cloud {
                width: 300%;
            }

            &__balloon__blue {

                img {
                    width: $balloon-xs;
                }
            }

            &__balloon__green {

                img {
                    width: $balloon-xs;
                }
            }
        }

        &__logo {
            img {
                width: $logo-xs;
            }
        }
    }

}