// about intro
.about {
    position: relative;
    height: rem(950);
    overflow: hidden;
    background-color: $color-skyblue;
    @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(150));
    text-align: center;


    &__bg {
        position: absolute;
        left: 50%;
        bottom: rem(-10);
        transform: translate(-50%);

        &__cloud {
            position: absolute;
            bottom: 0;

            &__left,
            &__left__sub {
                position: absolute;
                left: rem(-300);
                bottom: 0;
            }

            &__right,
            &__right__sub {
                position: absolute;
                right: rem(-500);
                bottom: 0;
            }
        }

        &__balloon {
            &__blue {
                position: absolute;
                right: rem(500);
                top: rem(-909);
            }

            &__green {
                position: absolute;
                left: rem(400);
                top: rem(-900);
            }

            &__yellow {
                position: absolute;
                left: rem(300);
                top: rem(-600);
            }
        }
    }

    &__logo {
        img {
            width: rem(740);
        }
    }

    &__text {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(20));

        h2 {
            @include font-set($size: 32, $weight: 500)
        }

        p {
            @include font-set($size: 24, $weight: 400)
        }

        span {
            @include font-set($size: 20, $weight: 900, $family: $font-accent);
            color: $color-primary;
        }

        .none__br {
            display: none;
        }
    }

    @media (max-width: $bp-desktop) {
        &__bg {
            &__balloon {
                &__blue {
                    position: absolute;
                    right: rem(300);
                    top: rem(-909);

                    img {
                        width: $balloon-lg;
                    }
                }

                &__green {
                    position: absolute;
                    left: rem(300);
                    top: rem(-900);

                    img {
                        width: $balloon-lg;
                    }
                }

                &__yellow {
                    position: absolute;
                    left: rem(200);
                    top: rem(-600);

                    img {
                        width: $balloon-lg;
                    }
                }
            }

        }

        &__logo {
            img {
                width: $logo-lg;
            }
        }

        &__text {
            h2 {
                @include font-set($size: 28, $weight: 500)
            }

            p {
                @include font-set($size: 20, $weight: 400)
            }

            span {
                @include font-set($size: 18, $weight: 900, $family: $font-accent);
            }
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(700);
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(70));

        &__bg {
            &__cloud {

                &__left,
                &__left__sub {
                    position: absolute;
                    left: rem(-100);
                    bottom: 0;
                }

                &__right,
                &__right__sub {
                    position: absolute;
                    right: rem(-100);
                    bottom: 0;
                }
            }

            &__balloon {
                &__blue {
                    position: absolute;
                    right: rem(200);
                    top: rem(-600);

                    img {
                        width: $balloon-md;
                    }
                }

                &__green {
                    position: absolute;
                    left: rem(200);
                    top: rem(-700);

                    img {
                        width: $balloon-md;
                    }
                }

                &__yellow {
                    position: absolute;
                    left: rem(180);
                    top: rem(-500);

                    img {
                        width: $balloon-md;
                    }
                }
            }

        }

        &__logo {
            img {
                width: $logo-md;
            }
        }

        &__text {
            padding: 0 rem(20);

            h2 {
                @include font-set($size: 24, $weight: 500)
            }

            p {
                @include font-set($size: 20, $weight: 400)
            }

            span {
                @include font-set($size: 18, $weight: 900, $family: $font-accent);
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        height: rem(500);
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(50));

        &__bg {
            &__balloon {
                &__blue {
                    right: rem(150);
                    top: rem(-400);

                    img {
                        width: $balloon-sm;
                    }
                }

                &__green {
                    left: rem(150);
                    top: rem(-450);

                    img {
                        width: $balloon-sm;
                    }
                }

                &__yellow {
                    position: absolute;
                    left: rem(120);
                    top: rem(-300);

                    img {
                        width: $balloon-sm;
                    }
                }
            }

        }

        &__logo {
            img {
                width: $logo-sm;
            }
        }

        &__text {
            h2 {
                @include font-set($size: 18, $weight: 500)
            }

            p {
                @include font-set($size: 14, $weight: 400)
            }

            span {
                @include font-set($size: 12, $weight: 900, $family: $font-accent);
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(30));

        &__bg {
            &__balloon {
                &__blue {
                    right: rem(100);
                    top: rem(-400);

                    img {
                        width: $balloon-xs;
                    }
                }

                &__green {
                    left: rem(100);
                    top: rem(-400);

                    img {
                        width: $balloon-xs;
                    }
                }

                &__yellow {
                    position: absolute;
                    left: rem(110);
                    top: rem(-300);

                    img {
                        width: $balloon-xs;
                    }
                }
            }

        }

        &__logo {
            img {
                width: $logo-xs;
            }
        }

        &__text {
            padding: 0 rem(12);
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(10));

            h2 {
                @include font-set($size: 16, $weight: 500)
            }

            p {
                @include font-set($size: 14, $weight: 400);
                letter-spacing: rem(0.1);
            }

            span {
                @include font-set($size: 12, $weight: 900, $family: $font-accent);
            }

            .none__br {
                display: block;
            }
        }
    }
}

//innovation
.innovation {
    margin-bottom: rem(100);
    overflow-x: hidden;
    background: 
    linear-gradient(to bottom, $color-skyblue, $color-bg);
    @include flex($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(30));

    &__bg {
        position: relative;
        opacity: 0.9;
        

        &__cloud__left {
            position: absolute;
            top: rem(-300);
            left: rem(-700);
        }

        &__cloud__right {
            position: absolute;
            top: rem(-300);
            right: rem(-700);
        }
    }

    &__img {
        margin-top: rem(200);
    }

    &__text {
        text-align: center;
    }

    @media (max-width: $bp-desktop) {
        &__bg {
            &__cloud__left {
                img {
                    height: rem(900);
                }
            }

            &__cloud__right {
                img {
                    height: rem(900);
                }
            }
        }

        &__img {
            img {
                width: rem(650);
            }
        }
    }

    @media (max-width: $bp-tablet) {
        &__bg {
            &__cloud__left {
                img {
                    height: rem(700);
                }
            }

            &__cloud__right {
                img {
                    height: rem(700);
                }
            }
        }

        &__img {
            img {
                width: rem(500);
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        &__img {
            img {
                width: rem(350);
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__img {
            img {
                width: rem(200);
            }
        }
    }
}

//story
.story {
    padding-bottom: rem(150);
    background: linear-gradient(to top, $color-skyblue, $color-bg);

    &__wrap {
        padding: 0 rem(138);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        grid-template-areas:
            "card1 card2"
            "card1 card3";

        &__card {
            position: relative;
            @include radius($radius: rem(20));
            overflow-y: hidden;
            animation: float 3s ease-in-out;

            @keyframes float {
                0% {
                transform: translateY(0); 
                }
                50% {
                transform: translateY(-30px); 
                }
                100% {
                transform: translateY(0); 
                }
            }

            &__overlay__full {
                position: absolute;
                bottom: 0;
                left: 0;
                @include radius($radius: rem(20));
                background: linear-gradient(to top,
                        $color-primary 0%,
                        transparent 70%);
                backdrop-filter: blur(10px);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: transform 0.6s ease, opacity 0.6s ease;
            }

            &__text {
                height: 100%;
                width: 100%;
                color: $color-bg;

                &__inner {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    &__front {
                        height: 100%;
                        width: 100%;
                        @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(555));

                        &__top {
                            padding: rem(30) rem(30);
                            align-self: flex-end;
                            text-align: end;
                            @include flex ($justify: flex-end, $align: flex-end, $direction: column, $wrap: nowrap, $gap: rem(5));

                            span {
                                @include font-set ($size: 16, $weight: 500, $line-height: 1.2, $family: $font-primary);
                            }

                            p {
                                @include font-set ($size: 60, $weight: 900, $line-height: 1.2, $family: $font-primary);
                            }
                        }

                        &__bottom {
                            position: relative;
                            @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(20));
                            border-radius: 0 0 rem(20) rem(20);
                            background: linear-gradient(to top, #3476a8, transparent);
                            width: 100%;
                            height: 100%;
                            padding: rem(30) rem(30);
                            align-self: flex-start;

                            .overlay__blur {
                                mask-image: linear-gradient(to top, lab(32.65% -1.5 -30.07) 70%, transparent 100%);
                                border-radius: 0 0 rem(20) rem(20);
                                backdrop-filter: blur(100px);
                                -webkit-backdrop-filter: blur(45px);
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }

                            &__content {
                                z-index: 2;

                                h3 {
                                    font-size: clamp(1.25rem, 1.0417rem + 1.1111vw, 2.375rem);
                                    font-weight: 800;
                                }
                            }

                            &__key {
                                z-index: 2;
                                @include flex ($justify: flex-start, $align: flex-start, $direction: row, $wrap: nowrap, $gap: rem(15));

                                span {
                                    @include font-set ($size: 12, $weight: 500, $line-height: 1.2, $family: $font-primary);
                                }
                            }
                        }
                    }

                    &__back {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: transform 0.6s ease;
                        z-index: 10;
                        width: 100%;
                        height: 100%;
                        @include flex ($justify: center, $align: center, $direction: column);

                        &__desc {
                            p {
                                padding: rem(20);
                                text-align: center;
                                line-height: 1.4;
                                font-size: clamp(1rem, 0.9074rem + 0.4938vw, 1.5rem);
                            }
                            
                        }

                    }
                }
            }

            &:hover {
                .story__wrap__card__text__inner__front__bottom {
                    background: none;
                }

                .story__wrap__card__text__inner__back,
                .story__wrap__card__overlay__full {
                    opacity: 1;
                }
            }
        }

        &__card01 {
            grid-area: card1;
            @include bg-cover("/assets/images/story-store01.png");
        }

        &__card02 {
            grid-area: card2;
            @include bg-cover("/assets/images/story-store02.png");

            .story__wrap__card__text__inner__front {
                @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(110));
            }

            .story__wrap__card__text {
                &__bottom {
                    @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(10));
                }
            }
        }

        &__card03 {
            grid-area: card3;
            @include bg-cover("/assets/images/story-store03.png");
            margin-left: rem(120);

            .story__wrap__card__text__inner__front {
                @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(155));
            }

            .story__wrap__card__text {
                &__bottom {
                    @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(10));
                }
            }
        }
    }

    @media (max-width: $bp-desktop) {
        &__wrap {
            overflow: hidden;
            padding: 0 rem(20);
            &__card {
                &__text {
                    &__inner {
                        &__front {
                            @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(520));

                            &__top {
                                p {
                                    @include font-set ($size: 44, $weight: 900, $line-height: 1.2, $family: $font-primary);
                                }
                            }

                            &__bottom {
                                @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(5));
                                padding: rem(20) rem(20);
                            }
                        }

                        &__back {
                            &__desc {
                                p {
                                    @include font-set ($size: 20, $weight: 400, $line-height: 1.4, $family: $font-primary);
                                    padding: rem(16);
                                }
                            }

                        }
                    }
                }
            }

            &__card03 {
                margin-left: 0;
            }
        }
    }

    @media (max-width: $bp-tablet) {
        &__wrap {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "card1"
                "card2"
                "card3";

            &__card {
                padding-bottom: rem(260);
                overflow: hidden;

                &__overlay__full {
                    background: linear-gradient(to top,
                            $color-primary 0%,
                            transparent 70%);
                    backdrop-filter: blur(5px);
                    opacity: 1;
                    mask-image: linear-gradient(to top, lab(32.65% -1.5 -30.07) 10%, transparent 100%);
                }

                &__text {
                    &__inner {
                        &__front {
                            @include flex ($justify: space-between, $align: flex-start, $direction: row, $wrap: nowrap);

                            &__top {
                                padding: rem(20) 0 0 rem(20);
                                align-self: auto;
                                text-align: start;
                                @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(5));

                                span {
                                    width: rem(120);
                                    @include font-set ($size: 12, $weight: 500, $line-height: 1.2, $family: $font-primary);
                                }

                                p {
                                    @include font-set ($size: 32, $weight: 900, $line-height: 1.2, $family: $font-primary);
                                }
                            }

                            &__bottom {
                                @include flex ($justify: flex-start, $align: flex-end, $direction: column, $wrap: nowrap, $gap: rem(5));
                                background: transparent;
                                padding: rem(20) rem(20) 0 0;
                                align-self: flex-end;

                                .overlay__blur {
                                    display: none;
                                }

                                &__content {
                                    z-index: 2;
                                }
                            }
                        }

                        &__back {
                            position: relative;
                            padding: rem(20);
                            @include flex($justify: flex-end, $align: flex-end, $direction: row, $wrap: nowrap, $gap: 0);
                            
                            br {
                                display: none;
                            }

                            &__desc {
                                opacity: 1;
                                
                                @include flex ($justify: flex-start, $align: flex-start, $direction: column);

                                p {
                                    z-index: 100;
                                    text-align: start;
                                    @include font-set ($size: 20, $weight: 400, $line-height: 1.2, $family: $font-primary);
                                    padding: 0;
                                }
                            }

                        }
                    }
                }
                
            }
            .story__wrap__card__overlay__full,
            .story__wrap__card__text__inner__back {
                opacity: 1 !important;
                transform: translateY(0) !important;
            }
            .story__wrap__card__text__inner__front__bottom {
                background: none !important;
            }


            &__card02 {
                padding-bottom: rem(170);

                .story__wrap__card__text__inner__front {
                    @include flex ($justify: space-between, $align: flex-start, $direction: row, $wrap: nowrap);
                }
            }

            &__card03 {
                padding-bottom: rem(170);

                .story__wrap__card__text__inner__front {
                    @include flex ($justify: space-between, $align: flex-start, $direction: row, $wrap: nowrap);
                }
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        &__wrap {
            &__card {
                padding-bottom: rem(230);

                &__overlay__full {
                    mask-image: linear-gradient(to top, lab(32.65% -1.5 -30.07) 20%, transparent 100%);
                }

                &__text {
                    &__inner {
                        &__front {

                            &__top {
                                padding: rem(12) 0 0 rem(12);

                                span {
                                    width: rem(100);
                                    @include font-set ($size: 10, $weight: 500, $line-height: 1.2, $family: $font-primary);
                                }

                                p {
                                    @include font-set ($size: 24, $weight: 900, $line-height: 1.2, $family: $font-primary);
                                }
                            }

                            &__bottom {
                                padding: rem(12) rem(12) 0 0;

                                &__key {
                                    span {
                                        @include font-set ($size: 10, $weight: 500, $line-height: 1.2, $family: $font-primary);
                                    }
                                }
                            }
                        }

                        &__back {
                            &__desc {
                                p {
                                    @include font-set ($size: 16, $weight: 400, $line-height: 1.2, $family: $font-primary);
                                    padding: 0;
                                }
                            }

                        }
                    }
                }
            }

            &__card02 {
                padding-bottom: rem(170);
            }

            &__card03 {
                padding-bottom: rem(190);
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__wrap {
            &__card {
                padding-bottom: rem(290);

                &__text {
                    &__inner {
                        &__front {
                            &__top {
                                display: none;
                            }
                        }

                    }
                }
            }

            &__card02 {
                padding-bottom: rem(200);
            }

            &__card03 {
                padding-bottom: rem(210);
            }
        }
    }
}

//identity
.identity {
    &__wrap {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(50));
        &__card {
            width: 100%;
            @include flex ($justify: center, $align: center, $direction: row, $wrap: nowrap);
            text-align: center;
            &__icon {
                margin-bottom: rem(50);
            }
            &__text {
                @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(20));
                h3 {
                    @include font-set($size: 32, $weight: 500, $line-height: 1.2, $family: $font-primary)
                }
                p {
                    @include font-set($size: 20, $weight: 400, $line-height: 1.2, $family: $font-primary)
                }
            }

        }
        &__card01, &__card02, &__card03 {
            border-right: 1px solid $gray-200;
            width: 100%;
            padding: rem(50) rem(20);
        }
        &__card03 {
            border: none;
        }
        .btn {
            font-size: rem(20);
            @include button-style(); 
            &:hover {
                background-color: $color-bg;
                color: $color-primary;
                border: 1px solid $color-primary;
            }
        }        
    }
    @media (max-width: $bp-desktop) {
        &__wrap {
            &__card {
                &__icon {
                    margin-bottom: rem(37);
                }
                &__text {
                    @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(20));
                    h3 {
                        @include font-set($size: 28, $weight: 500, $line-height: 1.2, $family: $font-primary)
                    }
                    p {
                        @include font-set($size: 20, $weight: 400, $line-height: 1.2, $family: $font-primary)
                    }
                }
            } 
            &__card01, &__card02, &__card03 {
                padding: rem(50) rem(20);
            }
            &__card03 {
                border: none;
            }     
        }
    }

    @media (max-width: $bp-tablet) {
        &__wrap {
            &__card {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: rem(16);
                grid-template-areas:
                    "card1"
                    "card2"
                    "card3";
                &__icon {
                    margin-bottom: rem(37);
                }
                &__text {
                    @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(20));
                    width: 100%;
                    h3 {
                        @include font-set($size: 24, $weight: 500, $line-height: 1.2, $family: $font-primary)
                    }
                    p {
                        @include font-set($size: 20, $weight: 400, $line-height: 1.2, $family: $font-primary)
                    }
                }
            }
            &__card01, &__card02, &__card03 {
                border-bottom: 1px solid $gray-200;
                border-right: none;
                width: 100%;
                padding: rem(50) rem(20);
                br {
                    display: none;
                }
            }
            &__card03 {
                border: none;
            }           
        }
    }

    @media (max-width: $bp-mobile-md) {
        &__wrap {
            &__card {
                br {
                    display: block;
                }
                &__text {
                    h3 {
                        @include font-set($size: 18, $weight: 500, $line-height: 1.2, $family: $font-primary)
                    }
                    p {
                        @include font-set($size: 14, $weight: 400, $line-height: 1.2, $family: $font-primary)
                    }
                }
            }       
        }
        .btn {
            font-size: rem(16);
        }   
    }

    @media (max-width: $bp-mobile-sm) {
        &__wrap {
            &__card {
                
                &__text {
                    h3 {
                        @include font-set($size: 16, $weight: 500, $line-height: 1.2, $family: $font-primary)
                    }
                }
            }       
        }
        .btn {
            @include button-style($padding-x: 50px) 
        }
    }
}
