// costlist

.costlist {
    .costlist__card__wrap {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-template-areas:
            "card1 card3 card4 card5"
            "card2 card3 card6 card6";
        gap: rem(16);

        .costlist__card {
            width: 100%;
            height: 100%;
            &__text {
                @include flex($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(15));
                h3 {
                    @include font-set ($size: 20);
                }
                p {
                    @include font-set ($size: 24, $weight: 600);
                }
                span {
                    @include font-set ($size: 20);
                }
            }
        }
        .costlist__card01 {
            grid-area: card1;
        }
        .costlist__card02 {
            grid-area: card2;
        }
        .costlist__card03 {
            grid-area: card3;
        }
        .costlist__card04 {
            grid-area: card4;
        }
        .costlist__card05 {
            grid-area: card5;
        }
        .costlist__card06 {
            grid-area: card6;
            @include flex($justify: space-around, $align: center, $direction: row, $wrap: nowrap, $gap: rem(20));
        }
    }
    .costlist__text {
        @include flex($justify: space-between, $align: center, $direction: row);
        &__desc {
            @include font-set ($size: 20);
        }
        &__total {
            @include font-set ($size: 32, $weight: 600);
        }
    }
    .costlist__btn {
        @include flex($justify: flex-end, $align: center, $gap: rem(20));
        
        .btn {
            @include font-set ($size: 20);
            @include button-style($padding-y: 13px, $padding-x: 40px);
            &:hover {
                background-color: $color-bg;
                color: $color-primary;
            }
        }

        .btn {
            &__secondary {
                @include font-set ($size: 20);
                @include button-style($bg: $color-bg, $color: $color-primary, $border: 1px solid $color-primary, $padding-y: 13px, $padding-x: 40px);
                &:hover {
                    background-color: $color-primary;
                    color: $color-bg;
                }
            }
        }
    }
}