.event {
    &__container {
        
        &__title {
            h2 {
                @include title-style(40);
                margin-bottom: rem(5);
            }
            p {
                @include subtitle-style(20);
            }
        }

        &__content {
            &__card {
                @include flex ($justify: flex-start, $align: center, $direction: column, $wrap: nowrap, $gap: rem(16));

                &__desc {
                    width: 100%;
                    @include radius($radius: rem(20));
                    border: 1px solid $gray-100;
                    a {
                        position: relative;
                        padding: rem(28) rem(30);
                        @include flex ($justify: flex-start, $align: center, $direction: row, $wrap: nowrap, $gap: rem(30));
                        .card__text {
                            width: 100%;
                            &__left {
                                @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(20));
                                h4 {
                                    @include font-set($size: 28, $weight: 600)
                                }
                                p {
                                    @include font-set($size: 20)
                                }
                            }
                            .href__text {
                                display: none;
                            }
                            span {
                                position: absolute;
                                bottom: rem(30);
                                right: rem(30);
                            }
                        }
                    }
                }
            }

        }

    
    }

    @media(max-width: $bp-desktop){
        &__container {
            &__title {
                h2 {
                    @include title-style(32);
                    margin-bottom: rem(5);
                }
                p {
                    @include subtitle-style(18);
                }
            }
            &__content {
                &__card {
                    &__desc {
                        a {
                            padding: rem(32) rem(30);
                            img {
                                width: rem(180);
                            }
                            .card__text {
                                &__left {
                                    h4 {
                                        @include font-set($size: 24, $weight: 600)
                                    }
                                    p {
                                        @include font-set($size: 16)
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    @media (max-width: $bp-tablet) {
        &__container {
            &__title {
                h2 {
                    @include title-style(28);    
                }
            }
            &__content {
                &__card {
                    &__desc {
                        a {
                            @include flex ($justify: flex-start, $align: center, $direction: row, $wrap: nowrap, $gap: rem(20));
                            padding: rem(16) rem(16);
                            img {
                                width: rem(150);
                            }
                            .card__text {
                                &__left {
                                    h4 {
                                        @include font-set($size: 20, $weight: 600)
                                    }
                                }
                                span {
                                    @include font-set($size: 12);
                                    bottom: rem(16);
                                    right: rem(16);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $bp-mobile-md) {
        &__container {
            &__title {
                h2 {
                    @include title-style(24);
                }
                p {
                    @include subtitle-style(16);
                }
            }
            &__content {
                &__card {
                    &__desc {
                        a {
                            img {
                                width: rem(120);
                            }
                            .card__text {
                                &__left {
                                    h4 {
                                        @include font-set($size: 16, $weight: 600)
                                    }
                                    margin-bottom: rem(10);
                                    p {
                                        display: none;
                                    }
                                }
                                .href__text {
                                    display: block;
                                    color: $gray-300;
                                    text-decoration: underline solid $gray-300;
                                }
                                span {
                                    @include font-set($size: 12);
                                    bottom: rem(16);
                                    right: rem(16);
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    @media (max-width: $bp-mobile-sm) {
        &__container {
            &__content {
                &__card {
                    &__desc {
                        a {
                            @include flex ($justify: flex-start, $align: center, $direction: row, $wrap: nowrap, $gap: rem(12));
                            padding: rem(12) rem(12);
                            img {
                                width: rem(100);
                            }
                            .card__text {
                                &__left {
                                    h4 {
                                        @include font-set($size: 14, $weight: 600);
                                    }
                                }
                                .href__text {
                                    @include font-set($size: 13)
                                }
                                span {
                                    bottom: rem(12);
                                    right: rem(12);
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}