.main__intro {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    &__video__wrap {
        width: 100%;
        height: 100vh;
        video {
            width: 100%;
            height: 110%;
            object-fit: cover;
            max-width: rem(1920);
        }
    }
}
