.main__intro {
    position: relative;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background: linear-gradient(
        to bottom,    
        #DDEEF5 40%,                        
        #ffffff 100%            
    );
    &__video__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            width: 100%;
            height: 110%;
            object-fit: contain;
        }
    }
    @media (max-width: $bp-desktop){
        display: none;
    }
}
