

//main
.hero {
    width: 100%;
    height: rem(800);

    &__swiper {
        width: 100%;
        height: 100%;

        &__content__img {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
       }

        &__slide {
            width: 100%;
            height: 100%;
        }

        &__slide__01 {
            @include bg-cover ("/assets/images/hero-bg.jpg");
        }

        &__slide__02 {
            @include bg-cover ("/assets/images/hero-bg02.jpg");
        }

        &__slide__03 {
            @include bg-cover ("/assets/images/hero-bg03.jpg");
        }

        &__slide__04 {
            @include bg-cover ("/assets/images/hero-bg04.jpg");
        }

        &__content {
            width: 100%;
            height: 100%;
            position: relative;
            @include flex($justify: space-between);

            &__text {
                width: 100%;
                padding-top: rem(300);

                p {
                    color: $gray-400;
                }

                h2 {
                    @include font-set ($size: 60, $weight: 700, $line-height: 1.2, $family: $font-accent)
                }
            }
        }

        &__slide__05 {
            @include bg-cover ("/assets/images/hero-bg05.jpg");

            .hero__swiper__content__text {
                color: $color-bg;

                p {
                    color: #dadada;
                }
            }
        }

        &__slide__06 {
            @include bg-cover ("/assets/images/hero-bg06.jpg");
        }
    }

    &__pagination {
        @include flex($gap: rem(15));
        max-width: rem(1440);
        margin-left: auto;
        margin-right: auto;
        padding: 0 rem(20);
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        position: relative;
        bottom: rem(150)
    }

    .swiper-pagination-bullet-active {
        border: rem(2) solid $gray-300;
        background-color: #99999967;
    }

    .swiper-pagination-bullet {
        width: rem(15);
        height: rem(15);
        margin: 0;
        &:hover {
            border: rem(2) solid $color-text;
            background-color: #00000067; 
        }
    }

    @media (max-width: $bp-desktop) {
        height: rem(950);

        &__swiper {
            &__content {
                @include flex ($justify: center, $direction: column, $gap: rem(30));

                &__text {
                    padding: 0;
                    top: rem(150);
                    left: rem(292);

                    @include flex ($direction: column, $wrap: nowrap, $gap: 10px);
                    text-align: center;

                    h2 {
                        @include font-set ($size: 36, $weight: 700, $line-height: 1.2, $family: $font-accent)
                    }
                }

                &__img {
                    text-align: center;

                    img {
                        width: rem(527);

                    }
                }
            }


            .swiper-pagination-bullet {
                width: rem(12);
                height: rem(12);
            }
            &__slide__06 {
                .hero__swiper__content__text {
                    color: $color-bg;
                    p {
                        color: #dadada;
                    }
                }
            }
        }

        &__pagination {
            @include flex($justify: center, $gap: rem(10));
        }
    }

    @media (max-width: $bp-tablet) {

        &__swiper {
            &__content {
                &__text {
                    h2 {
                        @include font-set ($size: 32, $weight: 700, $line-height: 1.2, $family: $font-accent)
                    }
                }
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        height: rem(756);

        &__swiper {
            &__content {
                @include flex ($justify: center, $direction: column, $gap: rem(100));

                &__text {
                    h2 {
                        @include font-set ($size: 20, $weight: 700, $line-height: 1.2, $family: $font-accent)
                    }
                }

                &__img {
                    img {
                        width: rem(332);
                    }
                }
            }


            .swiper-pagination-bullet {
                width: rem(10);
                height: rem(10);
            }

        }

        &__pagination {
            @include flex($justify: center, $gap: rem(8));
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__swiper {
            &__content {
                &__img {
                    img {
                        width: rem(280);
                    }
                }
            }
        }
    }

}

//point
.point {
    &__title {
        @include title-style(40);
        margin-bottom: rem(5);
    }

    &__subtitle {
        @include subtitle-style(20);
    }

    &__card__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        grid-template-areas:
            "img1 img3"
            "img2 img3";
    }

    &__card {
        overflow: hidden;
        height: rem(292);
        width: 100%;
        @include radius(rem(20));
        @include flex($justify: space-between, $align: center);
        padding-top: rem(54);
        padding-left: clamp(0.75rem, 0.1944rem + 2.963vw, 3.75rem);

        &__text {
            color: $color-bg;
            width: 100%;
            position: relative;
            z-index: 10;

            &__title {
                @include flex($align: flex-start, $direction: column, $gap: rem(10));
                

                h2 {
                    @include font-set($size: 32, $weight: 700, $line-height: 1.2);
                }

                p {
                    font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
                    word-break: keep-all;
                    white-space: normal;
                }
            }

            span {
                display: block;
                font-size: clamp(0.875rem, 0.8519rem + 0.1235vw, 1rem);
                font-weight: 200;
                margin-bottom: rem(30);
            }

            a {
                display: block;
                width: rem(100);
                border: 1px solid $color-bg;
                padding: rem(13) rem(25);
                margin-bottom: rem(54);
                @include radius(rem(40));
                @include font-set($size: 16, $weight: 900, $family: $font-accent);
            }
        }

        &__img {
            width: calc(100% / 2);
            img {
                @include radius(rem(20));
            }
        }
    }

    &__trend__card {
        grid-area: img1;
        background-color: $color-pink;
    }

    &__accessibility__card {
        grid-area: img2;
        background-color: $color-orange;

        a {
            width: rem(150);
        }

        img {
            margin-bottom: rem(-20);
        }
    }

    &__taste__card {
        height: rem(600);
        grid-area: img3;
        background-color: $color-green;
        @include flex($justify: space-between, $align: flex-start, $direction: column);
        padding: rem(54) 0 0 0;
        &__text {
            margin-left: clamp(0.75rem, 0.1944rem + 2.963vw, 3.75rem);
            margin-right: rem(60);
        }
    }
    &__taste__img {
        margin-bottom: rem(-10);
    }


    @media (max-width: $bp-desktop) {
        &__title {
            @include title-style(32);
        }

        &__subtitle {
            @include subtitle-style(18);
        }

        &__card {
            padding-top: rem(30);

            &__text {
                &__title {
                    @include flex($align: flex-start, $direction: column, $gap: rem(19));

                    h2 {
                        @include font-set($size: 24, $weight: 700, $line-height: 1.2);
                    }
                }

                span {
                    margin-bottom: rem(40);
                }

                a {
                    margin-bottom: rem(30);
                }
            }

            &__img {
                margin-bottom: rem(-65);

                img {
                    width: rem(200);
                    height: rem(200);
                }
            }
        }

        &__accessibility__img {
            img {
                width: rem(310);
                height: rem(210);
            }
        }

        &__taste__card {
            padding: rem(30) rem(30) 0 0;

            &__text {
                padding-right: rem(30);
                margin-left: rem(30);
                margin-right: rem(30);
            }

        }

        &__taste__img {
            img {
                width: rem(692);
                height: rem(300);
            }
        }
    }

    @media (max-width: $bp-tablet) {
        &__title {
            @include title-style(28);
        }

        &__card__wrap {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "img2"
                "img1"
                "img3";
        }

        &__card {
            height: rem(226);

            &__text {
                &__title {
                    h2 {
                        @include font-set($size: 20, $weight: 700, $line-height: 1.2);
                    }
                }

                span {
                    margin-top: rem(5);
                    margin-bottom: rem(20);
                }

                a {
                    margin-bottom: rem(30);
                }
            }

            &__img {
                margin-right: rem(30);
                margin-bottom: rem(-30);

                img {
                    margin-top: 0;
                    width: rem(180);
                    height: rem(200);
                }
            }
        }

        &__accessibility__card {
            padding: rem(30) 0 0 0;
            padding-right: clamp(0.75rem, 0.1944rem + 2.963vw, 3.75rem);
            @include flex($justify: space-between, $align: flex-end, $direction: row-reverse);
            text-align: end;

            &__text {
                @include flex($justify: flex-end, $align: flex-end, $direction: column);

                &__title {
                    @include flex($justify: flex-end, $align: flex-end, $direction: column, $gap: rem(10));
                }
            }
        }


        &__accessibility__img {
            img {
                width: rem(310);
                height: rem(210);
            }
        }

        &__taste__card {
            @include flex($justify: space-between, $align: flex-end, $direction: row-reverse);
            text-align: end;
            padding-right: clamp(0.75rem, 0.1944rem + 2.963vw, 3.75rem);

            &__text {
                padding-right: 0;
                @include flex($justify: flex-end, $align: flex-end, $direction: column);
                margin: 0;

                &__title {
                    @include flex($justify: flex-end, $align: flex-end, $direction: column, $gap: rem(20));
                }
            }
        }

        &__taste__img {
            margin-right: 0;

            img {
                width: rem(400);
                height: rem(150);
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        &__title {
            @include title-style(24);
        }

        &__subtitle {
            @include subtitle-style(16);
        }

        &__card {
            padding-top: rem(20);
            height: rem(176);

            &__text {
                &__title {
                    gap: rem(5);
                    h2 {
                        @include font-set($size: 16, $weight: 700, $line-height: 1.2);
                    }
                }

                span {
                    margin-bottom: rem(10);
                }

                a {
                    width: rem(74);
                    padding: rem(9) rem(15);
                    @include font-set($size: 14, $weight: 900, $family: $font-accent);
                    margin-bottom: rem(20);
                }
            }

            &__img {
                margin-right: 0;
                margin-bottom: rem(-30);

                img {
                    margin-top: 0;
                    width: rem(135);
                    height: rem(135);
                }
            }
        }

        &__accessibility__card {
            padding: rem(20) rem(12) 0 0;

            &__text {
                &__title {
                    gap: rem(20);
                }
                a {
                    width: rem(125);
                    margin-bottom: rem(10);
                }
            }
        }

        &__accessibility__img {
            margin-left: rem(-30);

            img {
                width: rem(210);
                height: rem(150);
            }
        }

        &__taste__card {
            padding: rem(20) rem(12) 0 0;
            
            &__text {
                &__title {
                    gap: rem(20);
                }
                a {
                    margin-bottom: rem(10);
                }
            }
        }

        &__taste__img {
            margin-right: 0;

            img {
                width: rem(400);
                height: rem(150);
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__card__wrap {
            gap: rem(12);
        }

        &__card {
            height: rem(150);
            span {
                display: none;
            }

            p {
                margin-bottom: rem(20);
            }

            &__img {
                margin-right: rem(10);
                margin-bottom: rem(-80);

                img {
                    width: rem(100);
                    height: rem(100);
                }
            }
        }

        &__accessibility__card {
            &__text {
                a {
                    margin-bottom: rem(15);
                }
            }
        }

        &__accessibility__img {
            margin-bottom: rem(-10);

            img {
                width: rem(150);
                height: rem(100);
            }
        }

        &__taste__card {
            &__text {
                a {
                    margin-bottom: rem(15);
                }
            }
        }

        &__taste__img {
            margin-bottom: rem(-10);

            img {
                width: rem(180);
                height: rem(80);
            }
        }
    }
}

//growth
.growth {
    .growth__swiper {
        overflow-x: hidden;
            .swiper-button-next,
            .swiper-button-prev {
                top: 60%;
                transform: translate(-60%);
                color: $gray-200;
                &:hover {
                    color: $color-primary;
                }
            }
            .swiper-button-prev {
                left: 50%;
                transform: translateX(calc(50% - 270px)); 
            }

            .swiper-button-next {
                right: 50%;
                transform: translateX(calc(50% + 245px)); 
            }    
    }

    .growth__slide {
        width: rem(456);
        height: 100%;
        @include flex($justify: center, $align: center, $direction: column, $wrap: nowrap);
        position: relative;

        .growth__card__img {
            position: relative;
        }
    }

    .growth__card {
        margin-top: rem(-111);
        background-color: $color-skyblue;
        width: rem(456);
        height: 100%;
        @include radius($radius: rem(20));
        @include flex ($align: center, $direction: column, $wrap: nowrap);

        &__text {
            margin-top: rem(150);
            margin-bottom: rem(20);

            h3 {
                text-align: center;
                margin-bottom: rem(40);
                @include font-set($size: 32, $weight: 600, $line-height: 1.2, $family: $font-primary);
            }

            li {
                list-style: disc;
                @include font-set($size: 20, $weight: 400, $line-height: 1.2, $family: $font-primary);
                margin-bottom: rem(20);

                span {
                    @include font-set($size: 16, $weight: 300, $line-height: 1.2, $family: $font-primary);
                }
            }
        }

        &__keyword {
            @include flex($gap: rem(10));
            @include font-set($size: 20, $weight: 300, $family: $font-accent);
            color: $color-primary
        }

        button {
            margin: rem(20) 0;
            @include font-set ($size: 24);
            @include button-style(); 
            
            &:hover {
                background-color: $color-bg;
                color: $color-primary;
                border: 1px solid $color-primary;    
            }
        }
    }

    .swiper-3d {

        .swiper-slide-shadow-left,
        .swiper-slide-shadow-right {
            background-image: none;
        }

        .swiper-slide-next {
            .growth__card__img {
                margin-top: rem(200);
                img {
                    width: rem(150);
                }
            }
            .growth__card {
                background-color: #f3f3f3;
                height: 100%;
            }

            .growth__card__keyword,
            .btn {
                display: none;
            }
        }

        .swiper-slide-prev {
            .growth__card__img {
                margin-top: rem(200);
                img {
                    width: rem(150);
                }
            }
            .growth__card {
                background-color: #f3f3f3;
                height: 100%;
            }

            .growth__card__keyword,
            .btn {
                display: none;
            }
        }
    }

    @media (max-width: $bp-desktop) {
    }

    @media (max-width: $bp-tablet) {
        &__card__img {
            img {
                width: rem(200);
                height: rem(200);
            }
        }
        .growth__swiper {
            .swiper-button-next,
            .swiper-button-prev {
                top: rem(50);
                right: rem(20);
                transform: translateX(10%); 
                &::after {
                    font-size: 32px;
                }
            }
            .swiper-button-prev {
                left: 90%;
                transform: translateX(calc(90% - 50px)); 
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        &__card__img {
            img {
                width: rem(150);
                height: rem(150);
            }
        }
        .growth__slide {
            height: 100%;
        }
        .growth__card {
            margin-top: rem(-75);
            width: rem(366);
            height: 100%;

            &__text {
                margin-top: rem(100);

                h3 {
                    @include font-set($size: 20, $weight: 600, $line-height: 1.2, $family: $font-primary);
                }

                li {
                    @include font-set($size: 14, $weight: 400, $line-height: 1.2, $family: $font-primary);

                    span {
                        @include font-set($size: 12, $weight: 300, $family: $font-primary);
                    }
                }
            }

            &__keyword {
                @include font-set($size: 16, $weight: 300, $family: $font-accent);
                color: $color-primary
            }

            button {
                width: 80%;
                @include font-set ($size: 16);
                @include button-style($bg: $color-primary,
                    $color: $color-bg,
                    $radius: 40px,
                    $border: none,
                    $padding-y: 10px,
                    $padding-x: 70px)
            }
        }

        .growth__swiper {
            .swiper-button-next,
            .swiper-button-prev {
                &::after {
                    font-size:rem(24);
                }
            }
            .swiper-button-prev {
                left: 85%;
                transform: translateX(calc(90% - 30px)); 
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        .growth__card {
            margin-top: rem(-75);
            width: rem(270);

            &__keyword {
                @include font-set($size: 14, $weight: 300, $family: $font-accent);
                gap: 20px;
            }

            button {
                @include font-set ($size: 14);
                @include button-style($bg: $color-primary,
                    $color: $color-bg,
                    $radius: 40px,
                    $border: none,
                    $padding-y: 10px,
                    $padding-x: 50px)
            }
        }

       .growth__swiper {
            .swiper-button-next,
            .swiper-button-prev {
                top: rem(50);
                right: rem(0);
                transform: translateX(0); 
                &::after {
                    font-size: 16px;
                }
            }
        }
    }
}



//best
.best {
    &__swiper {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(160));
    }

    &__slide {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap);

        &__content {
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(10));
            &:hover .best__slide__img {
                transform: scale(1.05);
            }
        }

        &__img {
            margin-bottom: rem(10);
            display: block;
            transition: transform 0.3s ease;
        }

        &__text {
            @include font-set ($size: 24);
        }
    }

    .swiper-horizontal>.swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal,
    .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
    .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        width: 80%;
        height: rem(6);
        left: 50%;
        top: rem(450);
        transform: translate(-50%);
    }

    &__pagination {
        background: $color-bg;
        border: 1px solid $gray-100;
        @include radius($radius: rem(20));

        .swiper-pagination-progressbar-fill {
            background: $color-primary;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include radius($radius: rem(20));
        }
    }

    &__next,
    &__prev {
        top: rem(180);
        color: $gray-200;
            &:hover {
                color: $color-primary;
            }
    }

    @media (max-width: $bp-desktop) {
        &__swiper {
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(106))
        }

        &__slide {
            height: rem(334);

            &__img img {
                width: rem(200);
                height: rem(200);
            }

            &__text {
                @include font-set ($size: 20);
            }
        }

        .swiper-horizontal>.swiper-pagination-progressbar,
        .swiper-pagination-progressbar.swiper-pagination-horizontal,
        .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
        .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
            top: rem(380);
        }

        &__pagination {
            background: $color-bg;
            border: 1px solid $gray-100;
            @include radius($radius: rem(20));

            .swiper-pagination-progressbar-fill {
                background: $color-primary;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                @include radius($radius: rem(20));
            }
        }

        &__next,
        &__prev {
            top: rem(180);
        }
    }

    @media (max-width: $bp-tablet) {
        &__swiper {
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(80))
        }

        &__slide {
            width: rem(260);
            height: rem(276);

            &__img img {
                width: rem(150);
                height: rem(140);
            }
        }

        .swiper-horizontal>.swiper-pagination-progressbar,
        .swiper-pagination-progressbar.swiper-pagination-horizontal,
        .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
        .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
            top: rem(300);
        }

        &__next,
        &__prev {
            top: rem(150);
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: rem(32);
        }


    }

    @media (max-width: $bp-mobile-md) {

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: rem(24);
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__swiper {
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(80))
        }

        &__slide {
            width: rem(177);
            height: rem(230);

            &__img img {
                width: rem(120);
                height: rem(120);
            }

            &__text {
                @include font-set ($size: 16);
            }
        }

        .swiper-horizontal>.swiper-pagination-progressbar,
        .swiper-pagination-progressbar.swiper-pagination-horizontal,
        .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
        .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
            top: rem(250);
        }

        &__next,
        &__prev {
            top: rem(120);
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: rem(16);
        }

    }
}

//event
.event {
    &__wrapper {
        @include flex ($justify: center, $direction: column, $gap: rem(50));
    }

    &__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(16);
        grid-template-areas:
            "img1 img2 img3";

        &__card {
            width: 100%;
            height: rem(466);
            @include flex ($justify: flex-end, $align: flex-end, $direction: column, $gap: rem(50));
            @include radius($radius: rem(20));
            

            &__text {
                width: 100%;
                border: 1px solid $gray-100;
                border-radius: 0 0 rem(20) rem(20);
                background-color: $color-bg;
                @include flex($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(10));
                padding: rem(30) 0 rem(30) 0;

                h3 {
                    @include font-set($size: 24, $weight: 600, $line-height: 1.2)
                }

                p {
                    @include font-set($size: 20, $line-height: 1.2);
                    color: $gray-400;
                }
            }
        }

        &__card01 {
            grid-area: img1;
            @include bg-cover("/assets/images/event-card01.jpg");
        }

        &__card02 {
            grid-area: img2;
            @include bg-cover("/assets/images/event-card02.jpg");
        }

        &__card03 {
            grid-area: img3;
            @include bg-cover("/assets/images/event-card03.jpg");
        }
    }

    @media (max-width: $bp-desktop) {
        &__wrap {
            &__card {
                &__text {
                    h3 {
                        @include font-set($size: 20, $weight: 600, $line-height: 1.2)
                    }

                    p {
                        @include font-set($size: 18, $line-height: 1.2);
                        color: $gray-400;
                    }
                }
            }
        }
    }

    @media (max-width: $bp-tablet) {
        &__wrap {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "img1"
                "img2"
                "img3";

            &__card {
                width: rem(366);
                margin: 0 auto;
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        &__wrap {
            &__card {
                width: 100%;

                &__text {
                    h3 {
                        @include font-set($size: 18, $weight: 600, $line-height: 1.2)
                    }

                    p {
                        @include font-set($size: 16, $line-height: 1.2);
                        color: $gray-400;
                    }
                }
            }
        }
    }
}

//contact
.contact {
    margin-top: rem(100);
    background-color: $color-skyblue;

    .container {
        @include flex ($justify: space-between);
        padding: rem(50);
    }

    &__left {
        @include flex ($justify: flex-start, $align: flex-start, $direction: column, $wrap: nowrap, $gap: rem(30));

        h2 {
            @include font-set($size: 24, $weight: 700, $line-height: 1.4, $family: $font-accent);
        }

        .btn {
            @include button-style($bg: $color-bg,
                $color: $color-primary,
                $border: 1px solid $color-primary, $padding-y: 10px,
                $padding-x: 30px);
            @include font-set($size: 20, $weight: 500, $line-height: 1.4, $family: $font-primary);
            &:hover {
                background-color: $color-primary;
                color: $color-bg;
            }
        }
    }

    &__img {
        will-change: transform;
        animation: wobble 7s ease-in-out infinite;
        
        @keyframes wobble {
        0%   { transform: translate3d(0,0,0) rotate(0deg); }
        25%  { transform: translate3d(-12px, -10px, 0) rotate(-2deg); }
        50%  { transform: translate3d(0, -20px, 0) rotate(0deg); }
        75%  { transform: translate3d(12px, -10px, 0) rotate(2deg); }
        100% { transform: translate3d(0,0,0) rotate(0deg); }
        }
        img {
            width: rem(400);
        }
    }

    @media (max-width: $bp-desktop) {
        .contact__img {
            img {
                width: rem(300);
            }
        }
    }

    @media (max-width: $bp-tablet) {
        .container {
            @include flex ($justify: space-between);
            padding: rem(30);
        }

        .contact__left {
            h2 {
                @include font-set($size: 20, $weight: 700, $line-height: 1.4, $family: $font-accent);
            }
        }

        .contact__img {
            img {
                width: rem(200);
            }
        }
    }

    @media (max-width: $bp-mobile-md) {
        .container {
            @include flex ($justify: space-between);
            padding: rem(20);
        }

        .contact__left {
            h2 {
                @include font-set($size: 16, $weight: 600, $line-height: 1.2, $family: $font-accent);
            }

            .btn {
                @include button-style($bg: $color-bg,
                    $color: $color-primary,
                    $border: 1px solid $color-primary, $padding-y: 10px,
                    $padding-x: 25px);

                @include font-set($size: 16, $weight: 400, $line-height: 1.2, $family: $font-primary);

            }
        }

        .contact__img {
            img {
                width: rem(150);
            }
        }
    }

    @media (max-width: $bp-mobile-sm) {
        .container {
            @include flex ($justify: space-between);
            padding: rem(12);
        }

        .contact__left {
            .btn {
                @include button-style($bg: $color-bg,
                    $color: $color-primary,
                    $border: 1px solid $color-primary, $padding-y: 8px,
                    $padding-x: 15px);
            }
        }

        .contact__img {
            img {
                width: rem(100);
            }
        }
    }
}