.btn {
    @include button-style();

    &__secondary {
        @include button-style($bg: $color-bg,
            $color: $color-primary,
            $border: 1px solid $color-primary, $padding-y: 10px,
            $padding-x: 25px);
    }

    &:hover {
        background-color: $color-primary;
        color: $color-bg;
    }
}