.card {
    width: calc((100% - (16px * 3)) / 4);
    height: rem(407);
    @include radius($radius: rem(20));
    border: 1px solid $gray-100;
    @include flex ($justify: center, $align: center, $direction: column);
    text-align: center;
    div {
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(16));
    }
    .btn {
        display: none;
    }
    
    @media (max-width: $bp-desktop) {
        height: rem(267);
        width: calc((100% - (16px)) / 2);
        padding: 0 0 rem(30) 0;
        div {
            @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(10));
        }
        img {
            width: rem(200);
        }
    }
    @media (max-width: $bp-tablet) {
        height: rem(292);
        @include flex ($justify: center, $align: center, $direction: column, $wrap: nowrap, $gap: rem(20));
        padding: rem(10) 0 rem(20) 0;
        img {
            width: rem(150);
        }
        .btn {
            @include button-style(
                $padding-y: rem(6),
                $padding-x: rem(18));

                &:hover {
                    background-color: $color-bg;
                    color: $color-primary;
                    border: 1px solid $color-primary;
                }
        }
    }
    @media (max-width: $bp-mobile-md) {
        height: rem(234);
        padding: rem(16) 0 rem(16) 0;
        img {
            width: rem(120);
        }
        p {
            @include font-set ($size: 16)
        }
    }

    @media (max-width: $bp-mobile-sm) {
        padding: rem(12) 0 rem(12) 0;
        img {
            width: rem(80);
        }
    }
}