.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(100);
    background-color: $color-bg;
    z-index: 10;

    &__container {
        @include flex($justify: space-between, $align: center);
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__menu {
        @include flex($gap: rem(120));

        &__list {
            a {
                @include font-set($size: 20, $weight: 600);
                transition: color 0.3s ease;

                &:hover {
                    color: $color-primary;
                }

            }

            &__sub {
                display: none;
                position: absolute;
                z-index: 20;
                top: 130px;

                li {
                    padding-bottom: rem(30);

                    a {
                        @include font-set($size: 20)
                    }
                }
            }
        }
    }

    &__overlay {
        display: none;
        position: fixed;
        top: rem(100);
        left: 0;
        width: 100%;
        height: rem(500);
        background-color: $color-bg;
    }

    &__hamburger__btn,
    &__hamburger__close {
        display: none;
    }

    @media (max-width: $bp-desktop) {
        height: rem(70);

        &__logo {
            img {
                width: rem(150);
            }
        }

        nav {
            display: none;
            position: fixed;
            top: rem(70);

            .header__menu__list__sub {
                display: block;
                top: rem(60);

                li {
                    a {
                        @include font-set($size: 16)
                    }
                }
            }

        }

        &__overlay {
            top: rem(1050);
            height: rem(430);
        }

        &__hamburger__btn {
            display: block;
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(60);

        &__logo {
            img {
                width: rem(110);
            }
        }

        &__hamburger__btn {
            width: rem(30);
        }

    }

    @media (max-width: $bp-mobile-md) {
        height: rem(55);

        &__logo {
            img {
                width: rem(76);
            }
        }

        &__btn {
            width: rem(24);
        }

    }
}