.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(100);
    background-color: $color-bg;
    z-index: 10;

    &__container {
        @include flex($justify: space-between, $align: center);
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    nav {
        width: 100%;
        height: 100%;
        @include flex($justify: flex-end, $align: center);
    }

    &__menu {
        height: 100%;
        @include flex($justify: center, $align: center, $gap: rem(120));

        &__list {
            height: 100%;
            
            a {
                @include font-set($size: 20, $weight: 600);
                @include flex($justify: center, $align: center);
                transition: color 0.3s ease;
                width: 100%;
                height: 100%;

                &:hover {
                    color: $color-primary;
                }

            }

            &__sub {
                display: none;
                position: absolute;
                top: rem(100);
                z-index: 20;
                background-color: lab(100% 0.01 -0.01 / 0.788);
                padding: 0 rem(30) rem(30) rem(30);
                &.on {
                    display: block; 
                }
                

                li {
                    padding-top: rem(30);
                    
                    a {
                        font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
                        font-weight: 400;
                        text-align: left;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    &__hamburger__btn,
    &__hamburger__close {
        display: none;
    }

    @media (max-width: $bp-desktop) {
        height: rem(70);

        &__logo {
            img {
                width: rem(150);
            }
        }

        nav {
            
            position: fixed;
            top: rem(70);
            left: 0;
            z-index: 30;
            height: auto;
            background-color: lab(100% 0.01 -0.01 / 0.788);
            padding: rem(20) 0 rem(300) 0;
            display: none;
            &.on {
                display: block;
            }

            .header__menu {
                width: 100%;
                @include flex ($justify: space-around);

                &__list {
                    &__sub {
                        padding: 0;
                        background-color: transparent; 
                        display: block;
                        top: rem(50);
                        z-index: 100;
                    }

                }
            }
        }

        &__hamburger__btn {
            display: block;
        }
    }

    @media (max-width: $bp-tablet) {
        height: rem(60);

        &__logo {
            img {
                width: rem(110);
            }
        }
        nav {
            top: rem(60);
        }
        


        &__hamburger__btn,
        &__hamburger__close {
            a {
                img {

                    width: rem(30);
                }
            }
        }

    }

    @media (max-width: $bp-mobile-md) {
        height: rem(55);

        &__logo {
            img {
                width: rem(76);
            }
        }
        nav {
            top: rem(55);
        }

        &__menu {
            width: 100%;

            &__list {
                a {
                    @include font-set($size: 16, $weight: 600);
                }
            }
        }

        &__hamburger__btn,
        &__hamburger__close {
            a {
                img {

                    width: rem(24);
                }
            }
        }

    }

    @media (max-width: $bp-mobile-sm) {
        &__menu {


            &__list {
                a {
                    @include font-set($size: 15, $weight: 600);
                }
            }
        }


        &__hamburger__btn,
        &__hamburger__close {
            a {
                img {

                    width: rem(20);
                }
            }
        }

    }
}

