* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Pretendard";
  color: #333333;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

dl, ul, li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
.section {
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  background-color: #ffffff;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7.5rem;
}
.header__menu__list a {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  transition: color 0.3s ease;
}
.header__menu__list a:hover {
  color: #3475A8;
}
.header__menu__list__sub {
  display: none;
  position: absolute;
  z-index: 20;
  top: 130px;
}
.header__menu__list__sub li {
  padding-bottom: 1.875rem;
}
.header__menu__list__sub li a {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}
.header__overlay {
  display: none;
  position: fixed;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: 31.25rem;
  background-color: #ffffff;
}
.header__hamburger__btn, .header__hamburger__close {
  display: none;
}
@media (max-width: 1024px) {
  .header {
    height: 4.375rem;
  }
  .header__logo img {
    width: 9.375rem;
  }
  .header nav {
    display: none;
    position: fixed;
    top: 4.375rem;
  }
  .header nav .header__menu__list__sub {
    display: block;
    top: 3.75rem;
  }
  .header nav .header__menu__list__sub li a {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .header__overlay {
    top: 65.625rem;
    height: 26.875rem;
  }
  .header__hamburger__btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .header {
    height: 3.75rem;
  }
  .header__logo img {
    width: 6.875rem;
  }
  .header__hamburger__btn {
    width: 1.875rem;
  }
}
@media (max-width: 500px) {
  .header {
    height: 3.4375rem;
  }
  .header__logo img {
    width: 4.75rem;
  }
  .header__btn {
    width: 1.5rem;
  }
}

.footer {
  background-color: #333333;
}
.footer__inner {
  padding: 3.4375rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.footer__logo img {
  width: 10.125rem;
}
.footer__center {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.25rem;
}
.footer__center__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.footer__center__info p {
  color: #ffffff;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-right: 1px solid #ffffff;
  font-family: "Pretendard";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
.footer__center__info p:last-child {
  border: none;
}
.footer__center__address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.footer__center__address p {
  color: #ffffff;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-right: 1px solid #ffffff;
  font-family: "Pretendard";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
.footer__center__address p:last-child {
  border: none;
}
.footer__center__privacy a {
  color: #ffffff;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-right: 1px solid #ffffff;
  font-family: "Pretendard";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
.footer__center__privacy a:last-child {
  border: none;
}
.footer__center__copyright p {
  color: #ffffff;
  font-family: "Pretendard";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 1.25rem;
}
.footer__sns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.875rem;
}
@media (max-width: 1024px) {
  .footer__inner {
    padding: 3.75rem 0;
  }
  .footer__logo img {
    width: 9.4375rem;
  }
  .footer__center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.9375rem;
  }
  .footer__sns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .footer__sns img {
    width: 1.875rem;
    height: 1.875rem;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding: 0.75rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .footer__logo {
    padding-left: 1.25rem;
  }
  .footer__logo img {
    width: 6.25rem;
  }
  .footer__center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
  .footer__center__info p {
    font-family: "Pretendard";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .footer__center__address p {
    font-family: "Pretendard";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .footer__center__privacy a {
    font-family: "Pretendard";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .footer__sns {
    padding-left: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .footer__sns img {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
@media (max-width: 500px) {
  .footer__logo {
    padding-left: 0.75rem;
  }
  .footer__logo img {
    width: 4.375rem;
  }
  .footer__center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
  .footer__center__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer__center__info p {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .footer__center__info p:last-child {
    padding-right: 0;
  }
  .footer__center__address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
  .footer__center__address p {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border: none;
  }
  .footer__center__address p:last-child {
    padding-right: 0;
  }
  .footer__center__privacy a {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .footer__center__copyright p {
    font-family: "Pretendard";
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.2;
    padding-left: 0.75rem;
  }
  .footer__sns {
    padding-left: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
  .footer__sns img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media (max-width: 390px) {
  .footer__center__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
  .footer__center__info p {
    border: none;
  }
}

.intro-video-wrap {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
}
.intro-video-wrap .intro-video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}
.main__intro__video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main__intro__video video {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.hero {
  width: 100%;
  height: 50rem;
}
.hero__swiper {
  width: 100%;
  height: 100%;
}
.hero__swiper__slide {
  width: 100%;
  height: 100%;
}
.hero__swiper__slide__01 {
  background-image: url(/assets/images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__swiper__slide__02 {
  background-image: url(/assets/images/hero-bg02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__swiper__slide__02__content__img img {
  width: 62rem;
}
.hero__swiper__slide__03 {
  background-image: url(/assets/images/hero-bg03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__swiper__slide__03__content__img img {
  width: 62rem;
}
.hero__swiper__slide__04 {
  background-image: url(/assets/images/hero-bg04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__swiper__slide__04__content__img img {
  width: 42.5625rem;
}
.hero__swiper__content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.hero__swiper__content__text {
  padding-top: 18.75rem;
}
.hero__swiper__content__text p {
  color: #666666;
}
.hero__swiper__content__text h2 {
  font-family: "Paperozi";
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.2;
}
.hero__swiper__slide__05 {
  background-image: url(/assets/images/hero-bg05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__swiper__slide__05 .hero__swiper__content__text {
  color: #ffffff;
}
.hero__swiper__slide__05 .hero__swiper__content__text p {
  color: #dadada;
}
.hero__swiper__slide__06 {
  background-image: url(/assets/images/hero-bg06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.9375rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
}
.hero .swiper-horizontal > .swiper-pagination-bullets,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-pagination-custom,
.hero .swiper-pagination-fraction {
  position: relative;
  bottom: 9.375rem;
}
.hero .swiper-pagination-bullet-active {
  border: 0.125rem solid #999999;
  background-color: rgba(153, 153, 153, 0.4039215686);
}
.hero .swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  margin: 0;
}
@media (max-width: 1024px) {
  .hero {
    height: 59.375rem;
  }
  .hero__swiper__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.875rem;
  }
  .hero__swiper__content__text {
    padding: 0;
    top: 9.375rem;
    left: 18.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    text-align: center;
  }
  .hero__swiper__content__text br {
    display: none;
  }
  .hero__swiper__content__text h2 {
    font-family: "Paperozi";
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .hero__swiper__content__img {
    text-align: center;
  }
  .hero__swiper__content__img img {
    width: 32.9375rem;
  }
  .hero__swiper .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
  }
  .hero__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
}
@media (max-width: 768px) {
  .hero__swiper__content__text h2 {
    font-family: "Paperozi";
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 47.25rem;
  }
  .hero__swiper__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6.25rem;
  }
  .hero__swiper__content__text h2 {
    font-family: "Paperozi";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .hero__swiper__content__img img {
    width: 20.75rem;
  }
  .hero__swiper .swiper-pagination-bullet {
    width: 0.625rem;
    height: 0.625rem;
  }
  .hero__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
}
@media (max-width: 390px) {
  .hero__swiper__content__img img {
    width: 17.5rem;
  }
}

.point__title {
  font-family: "Paperozi";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.3125rem;
}
.point__subtitle {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  color: #3475A8;
  margin-bottom: 2.5rem;
}
.point__card__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas: "img1 img3" "img2 img3";
}
.point__card {
  overflow: hidden;
  height: 18.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  padding: 3.375rem 0 0 3.75rem;
}
.point__card__text {
  color: #ffffff;
}
.point__card__text__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.625rem;
}
.point__card__text__title h2 {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.point__card__text__title p {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  word-break: keep-all;
  white-space: normal;
}
.point__card__text span {
  display: block;
  font-family: "Pretendard";
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 1.875rem;
  word-break: keep-all;
  white-space: normal;
}
.point__card__text a {
  display: block;
  width: 6.25rem;
  border: 1px solid #ffffff;
  padding: 0.8125rem 1.5625rem;
  margin-bottom: 3.375rem;
  border-radius: 2.5rem;
  font-family: "Paperozi";
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.4;
}
.point__card__img img {
  border-radius: 1.25rem;
  display: block;
}
.point__trend__card {
  grid-area: img1;
  background-color: #E4A9A9;
}
.point__accessibility__card {
  grid-area: img2;
  background-color: #FEC66B;
}
.point__accessibility__card a {
  width: 9.375rem;
}
.point__accessibility__card img {
  margin-bottom: -0.625rem;
}
.point__taste__card {
  height: 37.5rem;
  grid-area: img3;
  background-color: #BDCD96;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  padding: 3.375rem 0 0 0;
}
.point__taste__card__text {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}
@media (max-width: 1024px) {
  .point__title {
    font-family: "Paperozi";
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .point__subtitle {
    font-family: "Pretendard";
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
    color: #3475A8;
  }
  .point__card {
    padding: 1.875rem 0 0 1.875rem;
  }
  .point__card__text__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.1875rem;
  }
  .point__card__text__title h2 {
    font-family: "Pretendard";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .point__card__text span {
    margin-bottom: 2.5rem;
  }
  .point__card__text a {
    margin-bottom: 1.875rem;
  }
  .point__card__img {
    margin-right: -3.125rem;
    margin-bottom: -3.75rem;
  }
  .point__card__img img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .point__accessibility__img img {
    width: 19.375rem;
    height: 13.125rem;
  }
  .point__taste__card {
    padding: 1.875rem 0 0 0;
  }
  .point__taste__card__text {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .point__taste__img img {
    width: 30.25rem;
    height: 13.125rem;
  }
}
@media (max-width: 768px) {
  .point__title {
    font-family: "Paperozi";
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .point__card__wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "img2" "img1" "img3";
  }
  .point__card {
    height: 14.125rem;
  }
  .point__card__text__title h2 {
    font-family: "Pretendard";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .point__card__text__title p {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .point__card__text span {
    font-family: "Pretendard";
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    margin-top: 0.3125rem;
    margin-bottom: 1.25rem;
  }
  .point__card__text a {
    margin-bottom: 1.875rem;
  }
  .point__card__img {
    margin-right: 1.875rem;
    margin-bottom: -1.875rem;
  }
  .point__card__img img {
    margin-top: 0;
    width: 11.25rem;
    height: 12.5rem;
  }
  .point__accessibility__card {
    padding: 1.875rem 1.875rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 0;
    text-align: end;
  }
  .point__accessibility__card__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .point__accessibility__card__text__title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .point__accessibility__img img {
    width: 19.375rem;
    height: 13.125rem;
  }
  .point__taste__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 0;
    text-align: end;
  }
  .point__taste__card__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    margin: 0;
  }
  .point__taste__card__text__title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .point__taste__img {
    margin-right: 0;
  }
  .point__taste__img img {
    width: 25rem;
    height: 9.375rem;
  }
}
@media (max-width: 500px) {
  .point__title {
    font-family: "Paperozi";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .point__subtitle {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color: #3475A8;
  }
  .point__card {
    padding: 1.25rem 0 0 0.75rem;
    height: 11rem;
  }
  .point__card__text__title h2 {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .point__card__text__title p {
    font-family: "Pretendard";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .point__card__text span {
    font-family: "Pretendard";
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1.375rem;
  }
  .point__card__text a {
    width: 4.625rem;
    padding: 0.5625rem 0.9375rem;
    font-family: "Paperozi";
    font-size: 0.875rem;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }
  .point__card__img {
    margin-right: 0;
    margin-bottom: -1.875rem;
  }
  .point__card__img img {
    margin-top: 0;
    width: 7rem;
    height: 8.4375rem;
  }
  .point__accessibility__card {
    padding: 1.25rem 0.75rem 0 0;
  }
  .point__accessibility__card__text a {
    width: 7.8125rem;
    margin-bottom: 0.625rem;
  }
  .point__accessibility__img {
    margin-left: -1.875rem;
  }
  .point__accessibility__img img {
    width: 13.125rem;
    height: 9.375rem;
  }
  .point__taste__card {
    padding: 1.25rem 0.75rem 0 0;
  }
  .point__taste__card__text a {
    margin-bottom: 0.625rem;
  }
  .point__taste__img {
    margin-right: 0;
  }
  .point__taste__img img {
    width: 12.5rem;
    height: 6.25rem;
  }
}
@media (max-width: 390px) {
  .point__card__wrap {
    gap: 0.75rem;
  }
  .point__card span {
    display: none;
  }
  .point__card p {
    margin-bottom: 1.25rem;
  }
  .point__card__img {
    margin-right: 0.625rem;
    margin-bottom: -5rem;
  }
  .point__card__img img {
    width: 5rem;
    height: 6.25rem;
  }
  .point__accessibility__card__text a {
    margin-bottom: 0.9375rem;
  }
  .point__accessibility__img {
    margin-bottom: -0.625rem;
  }
  .point__accessibility__img img {
    width: 9.375rem;
    height: 6.25rem;
  }
  .point__taste__card__text a {
    margin-bottom: 0.9375rem;
  }
  .point__taste__img {
    margin-bottom: -0.625rem;
  }
  .point__taste__img img {
    width: 11.25rem;
    height: 5rem;
  }
}

.growth .growth__swiper {
  overflow-x: hidden;
}
.growth .growth__swiper .swiper-button-next,
.growth .growth__swiper .swiper-button-prev {
  top: 31.25rem;
  color: #3475A8;
}
.growth .growth__swiper .swiper-button-next {
  right: 26.25rem;
}
.growth .growth__swiper .swiper-button-prev {
  left: 26.25rem;
}
.growth .growth__slide {
  width: 28.5rem;
  height: 41.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
}
.growth .growth__slide .growth__card__img {
  position: relative;
}
.growth .growth__card {
  margin-top: -6.9375rem;
  background-color: #DDEEF5;
  width: 28.5rem;
  height: 34.9375rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.growth .growth__card__text {
  margin-top: 9.375rem;
  margin-bottom: 1.25rem;
}
.growth .growth__card__text h3 {
  text-align: center;
  margin-bottom: 1.25rem;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}
.growth .growth__card__text li {
  list-style: disc;
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.growth .growth__card__text li span {
  font-family: "Pretendard";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}
.growth .growth__card__keyword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6.75rem;
  font-family: "Paperozi";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: #3475A8;
}
.growth .growth__card button {
  margin-top: 1.25rem;
  font-family: "Pretendard";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}
.growth .swiper-3d .swiper-slide-shadow-left,
.growth .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.growth .swiper-3d .swiper-slide-next .growth__card {
  background-color: #f3f3f3;
  height: 25rem;
}
.growth .swiper-3d .swiper-slide-next .growth__card__keyword,
.growth .swiper-3d .swiper-slide-next .btn {
  display: none;
}
.growth .swiper-3d .swiper-slide-prev .growth__card {
  background-color: #f3f3f3;
  height: 25rem;
}
.growth .swiper-3d .swiper-slide-prev .growth__card__keyword,
.growth .swiper-3d .swiper-slide-prev .btn {
  display: none;
}
@media (max-width: 1024px) {
  .growth .growth__swiper .swiper-button-next {
    right: 14.375rem;
  }
  .growth .growth__swiper .swiper-button-prev {
    left: 14.375rem;
  }
}
@media (max-width: 768px) {
  .growth__wrapper {
    gap: 0;
  }
  .growth .growth__swiper .swiper-button-next {
    right: 6.25rem;
  }
  .growth .growth__swiper .swiper-button-prev {
    left: 6.25rem;
  }
  .growth .swiper-button-next::after,
  .growth .swiper-button-prev::after {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .growth .growth__card__img img {
    width: 9.375rem;
    height: 9.375rem;
  }
  .growth .growth__swiper .swiper-button-next {
    right: 1.25rem;
  }
  .growth .growth__swiper .swiper-button-prev {
    left: 1.25rem;
  }
  .growth .growth__card {
    margin-top: -4.6875rem;
    width: 22.875rem;
    height: 24rem;
  }
  .growth .growth__card__text {
    margin-top: 6.25rem;
  }
  .growth .growth__card__text h3 {
    font-family: "Pretendard";
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .growth .growth__card__text li {
    font-family: "Pretendard";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .growth .growth__card__text li span {
    font-family: "Pretendard";
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .growth .growth__card__keyword {
    font-family: "Paperozi";
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.4;
    color: #3475A8;
  }
  .growth .growth__card button {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .growth .swiper-button-next::after,
  .growth .swiper-button-prev::after {
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) {
  .growth .growth__card {
    margin-top: -4.6875rem;
    width: 18.75rem;
    height: 22.5rem;
  }
  .growth .growth__card button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3475A8;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 10px 70px;
    transition: all 0.2 ease-in-out;
  }
  .growth .growth__card button:hover {
    background-color: #ffffff;
    color: #3475A8;
  }
  .growth .swiper-button-next::after,
  .growth .swiper-button-prev::after {
    font-size: 16px;
  }
}

.best__swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10rem;
}
.best__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.best__slide__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.625rem;
}
.best__slide__img {
  margin-bottom: 0.625rem;
  display: block;
}
.best__slide__text {
  font-family: "Pretendard";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}
.best .swiper-horizontal > .swiper-pagination-progressbar,
.best .swiper-pagination-progressbar.swiper-pagination-horizontal,
.best .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.best .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 80%;
  height: 0.375rem;
  left: 50%;
  top: 28.125rem;
  transform: translate(-50%);
}
.best__pagination {
  background: #ffffff;
  border: 1px solid #DEDEDE;
  border-radius: 1.25rem;
}
.best__pagination .swiper-pagination-progressbar-fill {
  background: #3475A8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
}
.best__next, .best__prev {
  color: #3475A8;
  top: 11.25rem;
}
@media (max-width: 1024px) {
  .best__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6.625rem;
  }
  .best__slide {
    height: 20.875rem;
  }
  .best__slide__img img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .best__slide__text {
    font-family: "Pretendard";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .best .swiper-horizontal > .swiper-pagination-progressbar,
  .best .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .best .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .best .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 23.75rem;
  }
  .best__pagination {
    background: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 1.25rem;
  }
  .best__pagination .swiper-pagination-progressbar-fill {
    background: #3475A8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
  }
  .best__next, .best__prev {
    color: #3475A8;
    top: 11.25rem;
  }
}
@media (max-width: 768px) {
  .best__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5rem;
  }
  .best__slide {
    width: 16.25rem;
    height: 17.25rem;
  }
  .best__slide__img img {
    width: 9.375rem;
    height: 9.375rem;
  }
  .best .swiper-horizontal > .swiper-pagination-progressbar,
  .best .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .best .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .best .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 18.75rem;
  }
  .best__next, .best__prev {
    top: 9.375rem;
  }
  .best .swiper-button-next::after,
  .best .swiper-button-prev::after {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .best .swiper-button-next::after,
  .best .swiper-button-prev::after {
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) {
  .best__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5rem;
  }
  .best__slide {
    width: 11.0625rem;
    height: 14.375rem;
  }
  .best__slide__img img {
    width: 7.5rem;
    height: 7.5rem;
  }
  .best__slide__text {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  .best .swiper-horizontal > .swiper-pagination-progressbar,
  .best .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .best .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .best .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 15.625rem;
  }
  .best__next, .best__prev {
    top: 7.5rem;
  }
  .best .swiper-button-next::after,
  .best .swiper-button-prev::after {
    font-size: 1rem;
  }
}

.event__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3.125rem;
}
.event__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "img1 img2 img3";
}
.event__wrap__card {
  width: 100%;
  height: 29.125rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3.125rem;
  border-radius: 1.25rem;
}
.event__wrap__card__text {
  width: 100%;
  border: 1px solid #DEDEDE;
  border-radius: 0 0 1.25rem 1.25rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.625rem;
  padding: 1.875rem 0 1.875rem 0;
}
.event__wrap__card__text h3 {
  font-family: "Pretendard";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}
.event__wrap__card__text p {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
}
.event__wrap__card01 {
  grid-area: img1;
  background-image: url(/assets/images/event-card01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.event__wrap__card02 {
  grid-area: img2;
  background-image: url(/assets/images/event-card02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.event__wrap__card03 {
  grid-area: img3;
  background-image: url(/assets/images/event-card03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .event__wrap__card__text h3 {
    font-family: "Pretendard";
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .event__wrap__card__text p {
    font-family: "Pretendard";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    color: #666666;
  }
}
@media (max-width: 768px) {
  .event__wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "img1" "img2" "img3";
  }
  .event__wrap__card {
    width: 22.875rem;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  .event__wrap__card {
    width: 100%;
  }
  .event__wrap__card__text h3 {
    font-family: "Pretendard";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .event__wrap__card__text p {
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #666666;
  }
}

.contact {
  margin-top: 6.25rem;
  background-color: #DDEEF5;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  padding: 3.125rem;
}
.contact__left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.875rem;
}
.contact__left h2 {
  font-family: "Paperozi";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}
.contact__left .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #3475A8;
  border-radius: 40px;
  border: 1px solid #3475A8;
  padding: 10px 30px;
  transition: all 0.2 ease-in-out;
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}
.contact__left .btn:hover {
  background-color: #ffffff;
  color: #3475A8;
}
.contact__left .btn:hover {
  background-color: #3475A8;
  color: #ffffff;
}
.contact__img img {
  width: 25rem;
}
@media (max-width: 1024px) {
  .contact .contact__img img {
    width: 18.75rem;
  }
}
@media (max-width: 768px) {
  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding: 1.875rem;
  }
  .contact .contact__left h2 {
    font-family: "Paperozi";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .contact .contact__img img {
    width: 12.5rem;
  }
}
@media (max-width: 500px) {
  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding: 1.25rem;
  }
  .contact .contact__left h2 {
    font-family: "Paperozi";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .contact .contact__left .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #3475A8;
    border-radius: 40px;
    border: 1px solid #3475A8;
    padding: 10px 25px;
    transition: all 0.2 ease-in-out;
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .contact .contact__left .btn:hover {
    background-color: #ffffff;
    color: #3475A8;
  }
  .contact .contact__img img {
    width: 9.375rem;
  }
}
@media (max-width: 390px) {
  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding: 0.75rem;
  }
  .contact .contact__left .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #3475A8;
    border-radius: 40px;
    border: 1px solid #3475A8;
    padding: 8px 15px;
    transition: all 0.2 ease-in-out;
  }
  .contact .contact__left .btn:hover {
    background-color: #ffffff;
    color: #3475A8;
  }
  .contact .contact__img img {
    width: 6.25rem;
  }
}

.about {
  position: relative;
  height: 59.375rem;
  overflow: hidden;
  background-image: url(/assets/images/cloud-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #DDEEF5;
  margin: 0 auto;
}
.about__bg .cloud {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.about__bg .cloud__left {
  z-index: 5;
  left: 0;
  transform: translateX(0);
  opacity: 0.8;
}
.about__bg .cloud__left__sub {
  left: 0;
  transform: translateX(0);
}
.about__bg .cloud__right {
  z-index: 5;
  right: 0;
  transform: translateX(0);
  opacity: 0.8;
}
.about__bg .cloud__right__sub {
  right: 0;
  transform: translateX(0);
}
.about__bg .cloud img {
  width: 100%;
}
.about__bg__balloon__blue {
  position: absolute;
  top: 9.375rem;
  left: 24.375rem;
}
.about__bg__balloon__green {
  position: absolute;
  top: 25rem;
  right: 24.375rem;
}
.about__bg__balloon__yellow {
  position: absolute;
  top: 11.25rem;
  right: 43.75rem;
}
.about__bg__balloon__yellow img {
  width: 13.75rem;
}
.about__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
@media (max-width: 1024px) {
  .about__bg__balloon__blue {
    top: 150px;
    left: 70px;
  }
  .about__bg__balloon__blue img {
    width: 180px;
  }
  .about__bg__balloon__green {
    top: 400px;
    right: 70px;
  }
  .about__bg__balloon__green img {
    width: 180px;
  }
  .about__logo img {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .about {
    height: 43.75rem;
  }
  .about__bg__balloon__blue {
    left: 40px;
  }
  .about__bg__balloon__blue img {
    width: 150px;
  }
  .about__bg__balloon__green {
    right: 40px;
  }
  .about__bg__balloon__green img {
    width: 150px;
  }
  .about__logo img {
    width: 580px;
  }
}
@media (max-width: 500px) {
  .about {
    height: 31.25rem;
  }
  .about__bg .cloud {
    width: 200%;
  }
  .about__bg__balloon__blue {
    top: 50px;
  }
  .about__bg__balloon__blue img {
    width: 100px;
  }
  .about__bg__balloon__green {
    top: 250px;
  }
  .about__bg__balloon__green img {
    width: 100px;
  }
  .about__logo img {
    width: 350px;
  }
}
@media (max-width: 390px) {
  .about__bg .cloud {
    width: 300%;
  }
  .about__bg__balloon__blue {
    top: 150px;
    left: 30px;
  }
  .about__bg__balloon__blue img {
    width: 80px;
  }
  .about__bg__balloon__green {
    top: 230px;
    right: 30px;
  }
  .about__bg__balloon__green img {
    width: 80px;
  }
  .about__logo img {
    width: 250px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3475A8;
  color: #ffffff;
  border-radius: 40px;
  border: none;
  padding: 15px 106px;
  transition: all 0.2 ease-in-out;
}
.btn:hover {
  background-color: #ffffff;
  color: #3475A8;
}
.btn__secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #3475A8;
  border-radius: 40px;
  border: 1px solid #3475A8;
  padding: 10px 25px;
  transition: all 0.2 ease-in-out;
}
.btn__secondary:hover {
  background-color: #ffffff;
  color: #3475A8;
}
.btn:hover {
  background-color: #3475A8;
  color: #ffffff;
}